

.footer {
    background-color: #040E18;
}

.footer-ct1 {
    padding: 40px 0;
    margin-bottom: 2px;
}

.footer-list {
    list-style: none;
    padding: 0px;
    line-height: 2;
    margin: 0 0 10px;
}
.footer-list-item {
    display: inline-block;
    padding: 3px 12px;
}
.footer a {
    text-decoration: none;
    font-size: 17px;
}
.footer-list-item a {
    color: #fff;
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_social ul li {
    margin: 2px;
    display: inline-block;
}
.footer_social ul li a {
    border: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 7px transparent;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 21px;
    padding: 9px 13px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 40px;
}
.footer a {
    text-decoration: none;
}
.footer-last {
    background: #ecab1a;
    padding-top: 10px;
}
.footer_copyright {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 3;
}