<!--BANNER START-->
<div id="about_banner">
    <div class="row">
        <div  class="landing__welcome landing__welcome--blue">
            <div class="container">
               <div class="col-md-12">
                <header class="header">                  
                        <h1 class="h-strong">Contact us</h1>
                        <!--<h2 class="h3 d">Who we are and what we do...</h2> -->                 
                </header>
                </div>
            </div>
          </div>
    </div>
    </div>  

    <div class="row section-contact">
        <div class="col-sm-8 sec-1">
            <div class="box">  
                <div class="section-padding">
                    <h3 class="heding-s">Get your Tips</h3>
                </div> 

                    <h3 class="heding-d">Recieve effective tips to create your Biodata</h3>

                    <span *ngIf ="msg" style="color: red;border-radius: 3px;display:  inline-block;margin-bottom: 10px;">{{ msg }}</span>
                    <span *ngIf ="success" style="color: green;border-radius: 3px;display:  inline-block;margin-bottom: 10px;">{{ success }}</span>    
              
                    <div class="form-sec2">                 
                            <div class="row">                                   
                                <div class="col-sm-8">
                                <div class="form-group">   
                                     <div class="col-md-3"></div>                                         
                                    <input type="email" [(ngModel)] = "news_letter_text" class="form-control" placeholder="Please Enter Your Email Id">
                                    <div class="validation"></div>
                                    </div>
                                </div>
                             <div class="col-sm-3">
                                    <div class="form-group">
                                     <div class="col-md-3"></div>  
                                    <button class="button-medium" type="submit" name="contact" (click)="submitNewsLetter()">Submit </button>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>

        </div>
        <div class="col-sm-4 sec2">           
            <div class="jumbotron">
                <h3 class="display-3 uppercase">Reach Us</h3>
                <hr class="pg-titl-bdr-btm"/>
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +91 999999999 </li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> abc@gmail.com</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                        Marriage Villa: 1355 Market St, Suite 900 San Francisco, CA 94103
                    </li>
                </ul>
            </div>
        </div>
    </div>        




    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14015.979005818366!2d77.3613157868385!3d28.56992032130983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce58cda3bc64d%3A0x2e9995b44137c369!2sNeo+Hospital!5e0!3m2!1sen!2sin!4v1511894015240" width="100%" height="350" frameborder="0" style="border:0; margin-top: 0px;" ></iframe>
    </div>