.landing__welcome--blue {
    color:#fff;
    content: '';
    background: url('/assets/images/about-banner.jpg' );    
    width:100%;
    height: 350px;
   
}
.landing__welcome--blue a, .landing__welcome--blue {
    color: #fff;
}
.landing__welcome {
    text-align: center; 
    padding: 100px 0 80px 0;
}
.landing .header {
    text-align: center;
}
.heding-s {
    font-size: 12px;
    margin-bottom: 5px;
}
 .h3 {
    font-size: 22px;
    color: #fff;
}

.main-navigation {
  position: relative;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}
.top30 {
    margin-top: 30px;
}


.section-padding {
    padding: 15px 0px;
}
.validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}
.contact .jumbotron {
    padding: 15px;
    text-align: right;
}
.uppercase {
    text-transform: uppercase;
}
.contact .jumbotron p {
    font-size: 19px;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: #B70E31;
    opacity: 0.8;
    display: none;
}


 .section-contact{
    width : 80%;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
        
 }
h3{
    padding:0 0 8px 0px;
}
 
.pg-titl-bdr-btm{
    width: 300px;
    height: 1px;
    background-color: #F97D38;
    padding: 0px !important;
    margin: 12px 0;
}
.form-sec1{
    border: 1px solid #eeaaff;
    padding: 10px;
    width: 100%;
    margin:5px;
}
.subscribe-section {
    border: 1px solid  #eeaaff;
    padding: 31px;
    margin-bottom: 30px;
}
input#email {
    background: #fff;
    border: 1px solid #369;
    font-size: 18px;
    margin-right: -15px;
    border-radius:  5px 0 0 5px;
}
button.button-medium {
    border: 1px solid #369 !important;
    color: #fff;
    background: #369 !important;
    margin-left: -30px;
    padding: 13px;
    border-radius: 0 5px 5px 0;
}
.heding-s{
    font-size: 20px;
    margin: 10px 0;
}
.heding-d{
    font-size: 15px;
    margin: 10px 0;
}
.sec2 {
    background: #ddd;
    padding: 15px;
}
.sec-1 {
    background: #f1f1f1;
    padding: 15px;
}
ul li {
    list-style: square;
    margin-left: 20px;
    padding: 2px 0;
    line-height: 30px;
    font-family: calibri;
    font-size: 18px;
}
input, select, button, textarea {
    white-space: normal;
    /* display: block; */
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* border-radius: 5px; */
    /* border: 1px solid #f0f0f0; */
    /* background-color: #f0f0f0; */
    padding: 13px 10px;
    font-size: 11px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 0;
}