<div class="l-sidebar l-sidebar--editor l-col is-open">
    <div class="l-sidebar__content">
      <div class="l-sidebar__head">
        <!-- <div id="documentTitle" class="o-button"> 
          <span class="o-button__title">Title: <span id="jsDocumentTitleText">My resume</span></span> 
        </div> -->
      </div>
      <div class="l-sidebar__body l-sidebar__body--simplebar" id="editorSimplebar" data-simplebar="init">
        <div class="simplebar-track horizontal" style="visibility: hidden;">
          <div class="simplebar-scrollbar"></div>
        </div>
        <div class="simplebar-scroll-content" style="padding-right: 19px; margin-bottom: -34px;">
          <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -19px;">
            <div class="l-sidebar__section">
              <div class="l-sidebar__heading o-heading"> <span class="l-sidebar__heading-text o-heading__label">Fill in your document</span> </div>
              <div class="l-sidebar__navigation c-navigation">
                <ul id="menuSection" class="c-navigation__list">
                    <li class="l-sidebar__navigation-item c-navigation__item" (click) = "secondFirst($event,'1', 0)"  [ngClass]="{'is_active': selected == 1 }"> 
                        <span class="l-sidebar__navigation-title">Personal</span>  
                        <span class="l-sidebar__navigation-icon c-navigation__icon o-icon o-icon--bg o-icon--bg-white" data-icon="icoPersonal"></span>
                      </li>
                  <li class="l-sidebar__navigation-item c-navigation__item" (click) = "secondFirst($event, '2', 220)"  [ngClass]="{'is_active': selected == 2 }" > 
                    <span class="l-sidebar__navigation-title">Physical Attributes</span> 
                    <span class="l-sidebar__navigation-icon c-navigation__icon o-icon o-icon--bg o-icon--bg-white" data-icon="icoPersonal"></span>
                  </li>
                  <li class="l-sidebar__navigation-item c-navigation__item" (click) = "secondFirst($event, '2', 420)"  [ngClass]="{'selected': selected }" > 
                    <span class="l-sidebar__navigation-title">Qualification</span> 
                    <span class="l-sidebar__navigation-icon c-navigation__icon o-icon o-icon--bg o-icon--bg-white" data-icon="icoSummary"></span>
                   </li>
                   <li class="l-sidebar__navigation-item c-navigation__item is-active" (click) = "secondFirst($event, '2', 625)"  [ngClass]="{'selected': selected }" > 
                      <span class="l-sidebar__navigation-title">Religion</span> 
                      <span class="l-sidebar__navigation-icon c-navigation__icon o-icon o-icon--bg o-icon--bg-white" data-icon="icoEducation"></span>
                    </li>  
                  <li class="l-sidebar__navigation-item c-navigation__item" (click) = "secondFirst($event, '2', 1060)"  [ngClass]="{'selected': selected }"> 
                    <span class="l-sidebar__navigation-title">Occupation</span> 
                    <span class="l-sidebar__navigation-icon c-navigation__icon o-icon o-icon--bg o-icon--bg-white" data-icon="icoExperience"></span>
                    </li>
                                   
                    <li class="l-sidebar__navigation-item c-navigation__item" data-section="languages" data-section-dynamic="true" (click) = "secondFirst($event, '2', 1100)"  [ngClass]="{'selected': selected }" > 
                        <span class="l-sidebar__navigation-title">Family Details </span> 
                        <span class="l-sidebar__navigation-icon c-navigation__icon o-icon o-icon--bg o-icon--bg-white" data-icon="icoLanguages"></span>
                        </li>
                  <li class="l-sidebar__navigation-item c-navigation__item" data-section="languages" data-section-dynamic="true" (click) = "secondFirst($event, '2', 1250)"  [ngClass]="{'selected': selected }"> 
                      <span class="l-sidebar__navigation-title">Contact Details</span> 
                      <span class="l-sidebar__navigation-icon c-navigation__icon o-icon o-icon--bg o-icon--bg-white" data-icon="icoEnvelope"></span>
                      </li>
                </ul>
              </div>
            </div>
            <!-- <button class="o-button o-button--md"> 
              <span class="o-button__text">Add new section</span> 
            </button> 
            <div class="l-footer__btn">
                <div class="btn btn-md btn-blue btn-line previewButton">
                  <i class="eo eo-search"></i>
                  <span>Preview</span>
                </div>
              
                <div class="btn btn-md btn-blue prevSectionButton is-hide">
                  <i class="eo eo-left-arrow"></i>
                  <span>Prev</span>
                </div>
              
                <div class="btn btn-md btn-blue nextSectionButton">
                  <span>Next</span>
                  <i class="eo eo-right-arrow"></i>
                </div>
              
                <div class="btn btn-md btn-blue goToEditorButton is-hide">
                  <span>Go To Editor</span>
                  <i class="eo eo-right-arrow"></i>
                </div>
              
                <div class="btn btn-md btn-blue goToPreviewButton is-hide">
                  <span>Preview Your Resume</span>
                  <i class="eo eo-right-arrow"></i>
                </div>
              
                <div class="btn btn-md btn-green downloadPdf is-hide">
                  <i class="fa fa-cloud-download fa-fw"></i>
                  <span>Download</span>
                </div>
              
                <div class="btn btn-md btn-red backToEditorButton js-close-sidebar--trigger is-hide">
                        <span class="backToEditorButton--tooltip">
                      Want to edit your resume?
                    </span>
                      <i class="eo eo-left-arrow"></i>
                  <span>Back to Editor</span>
                </div>
              
              </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  