<!--BANNER START-->
<div class="loading" *ngIf ="loading">Loading...</div>
<div id="about_banner" *ngIf="!loading">
  <div class="row">
      <div  class="landing__welcome landing__welcome--blue">
          <div class="container">
             <div class="col-md-12">
              <header class="header">                  
                      <h1 class="h-strong">Blogs</h1>
                      <br>
                      <h2 class="h3 d">{{data?.title.rendered}}</h2>                  
              </header>
              </div>
          </div>
        </div>
  </div>
  </div>  
<div class="blog-page-area" *ngIf="!loading">
  <div class="post-outer">
    <article class="post hentry post-wrapper">
      <h2 class="post-title entry-title"> {{data?.title.rendered}} </h2>
      <br><br>
      <div class="post-info"> <span class="label-info"> <b>Post Date:</b> <abbr class="published updated">{{data?.date | date:'medium'}}</abbr> </span>  </div>
       <div class="post-body entry-content" id="post-body-5823193655041718066">
        <div id="summary5823193655041718066">
          <div class="snippets" [innerHtml]= "data?.content.rendered">

          </div>
        </div>
      </div>
    </article>
    <div style="clear: both;"></div>
  </div>

  </div>