<!--BANNER START-->
<div id="about_banner">
  <div class="row">
      <div  class="landing__welcome landing__welcome--blue">
          <div class="container">
             <div class="col-md-12">
              <header class="header">                  
                      <h1 class="h-strong">Blogs</h1>
                      <h2 class="h3 d">Google Turns Links Black, How to Get them Back to Blue</h2>                  
              </header>
              </div>
          </div>
        </div>
  </div>
  </div>  
<div class="blog-page-area">
  <div class="post-outer">
    <article class="post hentry post-wrapper">
      <h2 class="post-title entry-title"> Google Turns Links Black, How to Get them Back to Blue </h2>
      <div class="post-info"> <span class="label-info"> Date: <a href="#" rel="bookmark" title="permanent link"><abbr class="published updated">5/12/2016</abbr></a> </span>  </div>
       <div class="post-body entry-content" id="post-body-5823193655041718066">

        <div id="summary5823193655041718066">
          <div class="snippets">
            <p>Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio. Turpis venenatis at laoreet. Etiam commodo fusce in diam feugiat, nullam suscipit tortor per! Orci in, eleifend venenatis lacus tincidunt nisl malesuada tristique, cum egestas vel ac dapibus euismod 
                suspendisseUltrices proin mi urna nibh ut, aenean sollicitudin etiam libero 
                nisl, ultrices ridiculus in magna </p><br>
            <p> nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio. Turpis venenatis at laoreet. Etiam commodo fusce in diam feugiat, nullam suscipit tortor per! Orci in, eleifend venenatis lacus tincidunt nisl malesuada tristique, cum egestas vel ac dapibus euismod 
            suspendisseUltrices proin mi urna nibh ut, aenean sollicitudin etiam libero 
            nisl, ultrices ridiculus in magna purus consequuntur, ipsum...</p><br>
            <p> ultrices ridiculus in magna purus consequuntur, ipsum donec orci ad vitae pede, id odio. Turpis venenatis at laoreet. Etiam commodo fusce in diam feugiat, nullam suscipit tortor per! Orci in, eleifend venenatis lacus tincidunt nisl malesuada tristique, cum egestas vel ac dapibus euismod 
                suspendisseUltrices proin mi urna nibh ut, aenean sollicitudin etiam libero 
                nisl, ultrices ridiculus in magna purus consequuntur, ipsum...</p>

          </div>
        </div>
      </div>
    </article>
    <div style="clear: both;"></div>
  </div>

  </div>