.form {
    background: #f1f1f1;
    padding: 30px;
    max-width: 400px;
    margin: 90px auto;
    border-radius: 4px;
    font-family: calibri;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  .form label {
    display: block;
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    overflow: hidden;
    text-transform: capitalize;
    font-weight: normal;
}
  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #000;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
  }
  .tab-group .active a {
    background: #d75c57;
    color: #ffffff;
  }
  
  
  h1 {
    text-align: center;
    color: #000;
    font-weight: 300;
    margin: 0 0 12px;
    font: 30px calibri;
}
  

  label .req {
    margin: 2px;
    color: #d75c57;
  }
  
  label.active {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }
  
  label.highlight {
    color: #ffffff;
  }
  
  input, textarea {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border: 1px solid #a0b3b0;
    color: #000;
    border-radius: 0;
}
  input:focus, textarea:focus {
    outline: 0;
    border-color: #d75c57;
  }
  
  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 10px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  
  .button{
    border: 0;
    border-radius: 0;
    padding: 15px 0;
    font-size: 18px;
    background: #d75c57;
    color: #ffffff;
    width: 200px !important;
}
  .button:hover, .button:focus {
    background: #179b77;
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
  .forgot {     
    text-align: right;
  }
  h3.social-header {
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
}
li.btn {
  padding: 10px 15px !important;
  color: #fff;
  margin: 0 20px;
  font-size: 15px;
  border-radius: 3px;
}
li.fb-login.btn {
  background: #369;
}
li.gplus-login.btn {
  background: #d04028;
}