<section class="home-section1">
      
  <div class="slick-track">
     
   <div>
     <h3 (click) = "selectTemplate($event,1)">
       <img src="assets/images/templates/hindu/1.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','1')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,2)">
       <img src="assets/images/templates/hindu/2.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','2')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,3)">
       <img src="assets/images/templates/hindu/3.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','3')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,4)">
       <img src="assets/images/templates/hindu/4.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','4')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,5)">
       <img src="assets/images/templates/hindu/5.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','5')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,1)">
       <img src="assets/images/templates/hindu/1.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','1')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,2)">
       <img src="assets/images/templates/hindu/2.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','2')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,3)">
       <img src="assets/images/templates/hindu/3.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','3')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,4)">
       <img src="assets/images/templates/hindu/4.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','4')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,5)">
       <img src="assets/images/templates/hindu/5.jpg" alt="hindu" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'hindu','5')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>Hindu</h4>
   </div>
</div>
</section>