<section class="home-section1">
      
  <div class="slick-track">
     
   <div>
     <h3 (click) = "selectTemplate($event,1)">
       <img src="assets/images/templates/muslim/1.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','1')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,2)">
       <img src="assets/images/templates/muslim/2.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','2')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,3)">
       <img src="assets/images/templates/muslim/3.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','3')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,4)">
       <img src="assets/images/templates/muslim/4.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','4')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,5)">
       <img src="assets/images/templates/muslim/5.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','5')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,1)">
       <img src="assets/images/templates/muslim/1.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','1')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,2)">
       <img src="assets/images/templates/muslim/2.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','2')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,3)">
       <img src="assets/images/templates/muslim/3.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','3')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,4)">
       <img src="assets/images/templates/muslim/4.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','4')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,5)">
       <img src="assets/images/templates/muslim/5.jpg" alt="muslim" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'muslim','5')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>muslim</h4>
   </div>
</div>
</section>