<div class="signup-newsletter footer-ct1 section-padding">
    <div class="container">
        <div class="row">
            <div style="visibility: visible; animation-name: zoomIn;" class="col-sm-12 text-center section-padding">
                <h3 class="newslettr-title">Join Our Newsletter</h3>
                    <span *ngIf ="msg" style="background: red;border-radius: 3px;padding: 5px 10px;display:  inline-block;margin-bottom: 10px;color: #fff;">{{ msg }}</span>
                    <span *ngIf ="success" style="background: green;border-radius: 3px;padding: 5px 10px;display:  inline-block;margin-bottom: 10px;color: #fff;">{{ success }}</span>
                   <div class="form-group">
                     <div class="row">
                       <div class="col-md-3"></div>
                       <div class="col-md-4"><input type="email" [(ngModel)] = "news_letter_text" class="form-control" placeholder="Please Enter Your Email Id"></div>
                       <div class="col-md-2"> <button type="submit" class="btn btn-primary" (click)="submitNewsLetter()">Join </button></div>
                       <div class="col-md-3"></div>
                     </div>
                   </div>

            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
  </div>