/*Sign Up Header*/
.signup-header{ display:flex; flex-direction: row; align-items: center;}
.signup-header .aup-position-left{float:none; flex: 1 1 auto;}
.signup-header .aup-position-right{float:none; font-size:15px; color:#666666;}
.signup-header .aup-position-right a{margin-left:5px; font-size:15px; color:#ea333e; border-bottom:1px solid #ea333e; text-decoration:none;}
.signup-header .aup-position-right a:hover{font-size:15px; color:#ea333e; border-bottom:1px solid transparent; text-decoration:none;}
/*Sign Up Header*/

/*Sign Up common*/
.signup-container{display:block; min-height: auto; flex-direction:column; padding:0px 0 0; align-content: center; width:100%; text-align:center;}
/*Sign Up common*/

/*Signup Step One*/
span.icon-title {
    font-size: 16px;
    color: #e52e39;
}
.signup-heading-header{display:block; min-height: auto;}
.signup-heading{ font-family:latomedium; font-size:22px; color: #333333; min-height: auto;}
.signup-heading span{color: #e52e39;}
.signup-heading-seperator{display:flex; flex-direction: column; margin:35px 0; min-height: auto;}
.signup-heading-seperator span{max-width:60px; margin:auto; background-color: #000; height:3px; width:100%; min-height: auto;} 
.signup-heading-title{ font-family:latomedium; font-size:28px; color: #000000; margin:0 0 30px;}
.signup-heading-sub-title{font-size:17px; color: #666666; margin:0 0 30px;}
.signup-product-block {display:flex; justify-content: center;  margin: 20px auto 40px;min-height: auto;}
.signup-product-block .ap-product-box{position:relative; width:185px; transition: margin .2s ease-out;}
.signup-product-block .ap-product-box a{text-decoration:none;}
.signup-product-block .ap-product-box .ap-product-box-inner{margin:0 5px; box-sizing:border-box; transition: box-shadow .1s ease-out; cursor:pointer; padding:25px 18px 18px; height:140px; border:1px solid #dfdfdf; border-radius:5px; background: #fff;}
.signup-product-block .ap-product-box .ap-product-box-inner>div{margin-top:10px;font-size:14px; color:#333333;}
.signup-product-block .ap-product-box .fashionlifestyle{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-fashion-lifestyle.png"); background-position: top center; }
.signup-product-block .ap-product-box .homedecor{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-home-decor.png"); background-position: top center; }
.signup-product-block .ap-product-box .healthbeautycare{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-health-beauty.png"); background-position: top center; }
.signup-product-block .ap-product-box .electronics{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-electronics.png"); background-position: top center; }
.signup-product-block .ap-product-box .books{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-books.png"); background-position: top center; }

.signup-product-block .ap-product-box:hover .fashionlifestyle{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-fashion-lifestyle-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .homedecor{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-home-decor-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .healthbeautycare{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-health-beauty-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .electronics{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-electronics-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .books{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-books-white.png"); background-position: top center; }


.signup-step-one-bottom{font-size:15px; color:#ea333e;}
.signup-step-one-bottom a{font-size:15px; color:#ea333e; text-decoration:none; border-bottom:1px solid transparent; padding-bottom: 2px;}
.signup-step-one-bottom a:hover{font-size:15px; color:#ea333e; text-decoration:none; border-bottom:1px solid #ea333e}
.signup-product-block .ap-product-box:hover{margin-top: -8px; opacity: 1; filter: grayscale(0%); transition: all .1s ease-out;}
.signup-product-block .ap-product-box.ap-product-box-inactive { opacity: .6; filter: grayscale(100%) blur(2px);}
.signup-product-block .ap-product-box:hover .ap-product-box-inner{background-color: #dddddd;}
.signup-product-block .ap-product-box:hover .ap-product-box-inner>div{color: #fff;}

.signup-product-block .ap-product-box.active{margin-top: -8px; opacity: 1; filter: grayscale(0%); transition: all .1s ease-out;}
.signup-product-block .ap-product-box.active .ap-product-box-inner{background-color: #dddddd;}
.signup-product-block .ap-product-box.active .ap-product-box-inner>div{color: #fff;}
/*Signup Step One*/


/*Signup Step Two part 1*/
.signup-form-block {display:flex; margin: 20px auto 40px; max-width: 630px; width: 100%;align-items: flex-start; flex-direction: row;}
.signup-form-block .ap-product-box{position:relative; width:185px;}
.signup-form-block .ap-product-box .ap-product-box-inner{margin:0 5px; box-sizing:border-box; transition: box-shadow .1s ease-out; padding:25px 18px 18px; height:140px; border:1px solid #dfdfdf; border-radius:5px; background: #fff;}
.signup-form-block .ap-product-box .ap-product-box-inner>div{margin-top:10px;font-size:14px; color:#333333;}
.signup-form-block .ap-product-box .fashionlifestyle{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-fashion-lifestyle.png"); background-position: top center; }
.signup-form-block .ap-product-box .homedecor{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-home-decor.png"); background-position: top center; }
.signup-form-block .ap-product-box .healthbeautycare{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-health-beauty.png"); background-position: top center; }
.signup-form-block .ap-product-box .electronics{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-electronics.png"); background-position: top center; }
.signup-form-block .ap-product-box .books{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-books.png"); background-position: top center; }
.signup-form-block .ap-product-box.ap-product-box-inactive { opacity: .6; filter: grayscale(100%) blur(2px);}
.signup-form-block .signup-form{display:flex; flex-direction: row; text-align: left; flex-grow: 1; margin-left: 50px;}
.signup-form-block .signup-form ul{margin:0;padding: 0; display:flex; flex-direction: column; width: 100%;}
.signup-form-block .signup-form ul li{text-align: center; margin:0 0 20px;padding: 0; width: 100%; position:relative;}
.signup-form-block .signup-form ul li input[type="text"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li input[type="email"]{display: block;transition:all 0.2s ease-in-out;width: 100%; box-sizing:border-box;border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li input[type="number"]{display: block;transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box;border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li input[type="password"]{display: block;transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box;border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li.action-block{margin-bottom:0; margin-top: 20px; text-align: left; display:flex;}
.signup-form-block .signup-form ul li:last-child{margin-bottom:0; margin-top: 20px; text-align: left; display:flex;}
.signup-form-block .signup-form ul li .aup-red-button{border-width:4px; font-family: gothammedium; font-size:14px; line-height: 40px; padding:0 54px;}
.signup-form-block .signup-form ul li.animation-group {position:relative;}
.signup-form-block .signup-form ul li.animation-group div{position: absolute; left: 0; top: 0; width: 100%; padding: 0px;  margin-top:0;}
.signup-form-block .signup-form ul li.animation-group{ display: flex; flex-direction:column;}
.signup-form-block .signup-form ul li.animation-group div{ display: flex; color:#6aa84f; font-family:lato; font-size: 13px; font-style: italic;}
.signup-form-block .signup-form ul li .aup-dialog-back-arrow-button{width:50px; height:50px; margin-left:21px;}
.signup-form-block .signup-form ul li .aup-dialog-back-arrow-button:hover{ background-color: #d7d8d8;}
.signup-form-block .signup-form ul li input:focus{background-color: #fff; border:1px solid #333; box-shadow: 0 0 6px #c7c7c7;}
.signup-form-block .signup-form ul li input::-webkit-input-placeholder { color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input::-moz-input-placeholder {  color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input::-o-input-placeholder { color:#bebebe;  opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input::-ms-input-placeholder {  color:#bebebe; opacity:1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-webkit-input-placeholder { color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-moz-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-o-input-placeholder { color:#bebebe;  opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-ms-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li.has-error input{border:1px solid #ea333e; background-color: #fff;}
.signup-form-block .signup-form ul li.has-error input:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ff8b66}
.signup-form-block .signup-form ul li .tooltip{z-index:2; left: 0;  max-width: 250px; width: 100%; margin: auto; right: 0; background-color: #ea333e; border-radius: 3px; line-height: 1.5; padding: 4px 11px;
font-size: 10px; text-transform:uppercase;  letter-spacing: 1.2px; display: inline-block;  letter-spacing: .5px; pointer-events: none; color:#fff; position: absolute;}
.signup-form-block .signup-form ul li.has-success input{border:1px solid #58ba57; background-color: #fff;}
.signup-form-block .signup-form ul li.has-success input:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #b0e971}
.signup-form-block .signup-form ul li .tooltip:after {position:absolute; pointer-events:none;border-color: transparent transparent #ea333e;
    border-image: none; border-style: solid; border-width: 5px;  bottom: 100%; content: " "; height: 0; margin-left: -4px; left: 50%; width: 0;}
.signup-form-block .signup-form ul li .tooltip ul li{text-align: left; margin:0 0 6px;}
.signup-form-block .signup-form ul li .tooltip ul li:last-child{margin:0}
.signup-form-block .signup-form ul li .tooltip ul li strong{font-weight:normal;}
/*Signup Step Two part 1*/



/*Signup Step Two part -2 */
.signup-form-block .signup-form-2-block{display:flex; flex-direction: column; text-align: left; flex-grow: 1;}
.signup-form-block .signup-form-2-block ul{margin:0;padding: 0; display:flex; flex-direction: row; width: 100%;}
.signup-form-block .signup-form-2-block ul li{text-align: center; margin:0 0 20px;padding: 0; width: 100%; position:relative;}
.signup-form-block .signup-form-2-block ul li input[type="text"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form-2-block ul li input[type="email"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form-2-block ul li input[type="tel"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form-2-block ul li textarea{min-height: 90px; resize:none; margin-left:0; display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form-2-block ul li input:focus{background-color: #fff;}
.signup-form-block .signup-form-2-block ul li textarea:focus{background-color: #fff;}
.signup-form-block .signup-form-2-block ul li:last-child.message-section{margin-left:0;}
.signup-form-block .signup-form-2-block ul li:last-child{margin-left:20px;}
.signup-form-block .signup-form-2-block ul li input::-webkit-input-placeholder { color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li input::-moz-input-placeholder {  color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li input::-o-input-placeholder { color:#bebebe;  opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li input::-ms-input-placeholder {  color:#bebebe; opacity:1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li input:focus::-webkit-input-placeholder { color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li input:focus::-moz-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li input:focus::-o-input-placeholder { color:#bebebe;  opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li input:focus::-ms-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li:last-child{margin-left:20px;}
.signup-form-block .signup-form-2-block ul li input:focus{background-color: #fff; border:1px solid #333; box-shadow: 0 0 6px #c7c7c7;}
.signup-form-block .signup-form-2-block ul li textarea:focus{background-color: #fff; border:1px solid #333; box-shadow: 0 0 6px #c7c7c7;}
.signup-form-block .signup-form-2-block ul li textarea::-webkit-input-placeholder { color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li textarea::-moz-input-placeholder {  color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li textarea::-o-input-placeholder { color:#bebebe;  opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li textarea::-ms-input-placeholder {  color:#bebebe; opacity:1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li textarea:focus::-webkit-input-placeholder { color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li textarea:focus::-moz-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li textarea:focus::-o-input-placeholder { color:#bebebe;  opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li textarea:focus::-ms-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form-2-block ul li .aup-red-button{border-width:4px; font-family: gothammedium; font-size:14px; line-height: 40px; padding:0 54px;}
.signup-form-block .signup-form-2-block ul li .aup-dialog-back-arrow-button{width:50px; height:50px; margin-left:21px;}
.signup-form-block .signup-form-2-block ul li .aup-dialog-back-arrow-button:hover{ background-color: #d7d8d8;}
.signup-form-block .signup-form-2-block ul li.has-error input{border:1px solid #ea333e; background-color: #fff;}
.signup-form-block .signup-form-2-block ul li.has-error input:focus{border:1px solid #ea333e; box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ff8b66}
.signup-form-block .signup-form-2-block ul li.has-success input{border:1px solid #58ba57; background-color: #fff;}
.signup-form-block .signup-form-2-block ul li.has-success input:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #b0e971}
.signup-form-block .signup-form-2-block ul li.has-error textarea{border:1px solid #ea333e; background-color: #fff;}
.signup-form-block .signup-form-2-block ul li.has-error textarea:focus{border:1px solid #ea333e; box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ff8b66}
.signup-form-block .signup-form-2-block ul li.has-success textarea{border:1px solid #58ba57; background-color: #fff;}
.signup-form-block .signup-form-2-block ul li.has-success textarea:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #b0e971}
.signup-form-block .signup-form-2-block ul:last-child{margin-top:30px;}
.signup-form-block .signup-form-2-block ul li.action-button{display:flex; justify-content: center;}
.signup-form-block .signup-form-2-block ul li .tooltip{z-index:2; left: 0;  max-width: 250px; width: 100%; margin: auto; right: 0; background-color: #ea333e; border-radius: 3px; line-height: 1.5; padding: 4px 11px;
    font-size: 12px;  display: inline-block;  letter-spacing: .5px; pointer-events: none; color:#fff; position: absolute;}
.signup-form-block .signup-form-2-block ul li .tooltip:after {position:absolute; pointer-events:none;border-color: transparent transparent #ea333e;
    border-image: none; border-style: solid; border-width: 5px;  bottom: 100%; content: " "; height: 0; margin-left: -4px; left: 50%; width: 0;}
/*Signup Step Two part -2 */


/*Sign In*/
.signin-wrapper{ display: flex; flex-direction: column; width: 100%;}
.signin-inner{display: flex; flex-direction: column; max-width:350px; margin:0 auto; width:100%; text-align: center; box-sizing:border-box;  padding:0px; border-radius:5px; border:0px solid #f0f0f0;}
.signin-inner .heading-title{  font-family:lato; font-size:20px; color: #010101; margin:0 0 30px;}  
.signin-inner .heading-subtitle{  font-family:lato; font-size:13px; color: #333333; margin:0 0 30px; line-height: 22px;} 
.signin-inner .sent-msg {font-family:lato; font-size:15px; color: #333333; margin:0 0 15px;}
.signin-inner .heading-subtitle a{margin-left:5px; padding-bottom:2px;border-bottom:1px solid #438ee1;color:#438ee1; font-size:13px; font-family:lato; text-decoration:none;}
.signin-inner .heading-subtitle a:hover{padding-bottom:2px;border-bottom:1px solid transparent;color:#438ee1; font-size:13px; font-family:lato; text-decoration:none;}
.signin-inner .sign-in-form{ display:flex; flex-direction: column;}
.signin-inner .sign-in-form .signin-with-google{display:flex; flex-direction: column;}
.signin-inner .sign-in-form .signin-with-google a{text-decoration:none; display:flex; padding:0px 0px; align-items: center; background-color: #4285f4; font-family:gothammedium; font-size:12px; color:#ffffff; text-transform: uppercase;}
.signin-inner .sign-in-form .signin-with-google a i{ background-color: #2e5dab; padding:15px; margin-right:15px;}
.signin-inner .sign-in-form .signin-or-seperator{margin:15px 0; text-transform: capitalize; display:flex; flex-direction: column; font-family:latobold; font-size:15px; color:#666666;}
.signin-inner .sign-in-form ul{margin:0;padding: 0; display:flex; flex-direction: column; width: 100%;}
.signin-inner .sign-in-form ul li{text-align: center; margin:0 0 15px;padding: 0; width: 100%; position:relative;}
.signin-inner .sign-in-form ul li input[type="password"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:lato; font-size:13px; color:#333;}
.signin-inner .sign-in-form ul li input[type="email"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:lato; font-size:13px; color:#333;}
.signin-inner .sign-in-form ul li input:focus{background-color: #fff;}
.signin-inner .sign-in-form ul li.has-error input{border:1px solid #ea333e; background-color: #fff;}
.signin-inner .sign-in-form ul li.has-success input{border:1px solid #58ba57; background-color: #fff;}
.signin-inner .sign-in-form ul li input::-webkit-input-placeholder { color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li input::-moz-input-placeholder {  color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li input::-o-input-placeholder { color:#bebebe;  opacity: 1; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li input::-ms-input-placeholder {  color:#bebebe; opacity:1; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li input:focus::-webkit-input-placeholder { color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li input:focus::-moz-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li input:focus::-o-input-placeholder { color:#bebebe;  opacity: 0; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li input:focus::-ms-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signin-inner .sign-in-form ul li.remember-section{ display:flex; flex-direction: row; align-items: center; margin-bottom: 25px;}
.signin-inner .sign-in-form ul li.remember-section .mat-checkbox{justify-content: flex-start; flex: 1 1 auto; text-align: left;}
.signin-inner .sign-in-form ul li.remember-section .mat-checkbox label .mat-checkbox-inner-container {margin:0 10px 0 0; color: #d4d4d4; border-radius: 4px; width: 17px;  height: 17px;   background-color: #fff;}
.signin-inner .sign-in-form ul li.remember-section .mat-checkbox label .mat-checkbox-frame {border-width: 1px; border-color: #d4d4d4;}
.signin-inner .sign-in-form ul li.remember-section .mat-checkbox-checked.mat-accent .mat-checkbox-background {background-color: #000;}
.signin-inner .sign-in-form ul li.remember-section .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {background-color: rgba(0, 0, 0, .26);}
.signin-inner .sign-in-form ul li.remember-section .mat-checkbox label{font-family: lato; color:#000000; font-size:12px; align-items: center; justify-content: center;}
.signin-inner .sign-in-form ul li.remember-section a{padding-bottom:2px;border-bottom:1px solid #438ee1; color:#438ee1; font-size:12px; font-family:lato; text-decoration:none;}
.signin-inner .sign-in-form ul li.remember-section a:hover{border-bottom:1px solid transparent; color:#438ee1; font-size:12px; font-family:lato; text-decoration:none;}
.signin-inner .sign-in-form ul li .aup-red-button{font-family:gothammedium; font-size:15px; width:100%; line-height: 46px; color:#ea333e;}
.signin-inner .sign-in-form ul li .aup-red-button:hover{color:#fff;}
.signin-inner .sign-in-form ul li:last-child{color:#000000; font-family:lato; font-size:13px;}
.signin-inner .sign-in-form ul li:last-child a{margin-left:5px; padding-bottom:2px;border-bottom:1px solid #438ee1;color:#438ee1; font-size:13px; font-family:lato; text-decoration:none;}
.signin-inner .sign-in-form ul li:last-child a:hover{padding-bottom:2px;border-bottom:1px solid transparent;color:#438ee1; font-size:13px; font-family:lato; text-decoration:none;}
.signin-inner .sign-in-form ul li .error-msg {font-size:12px; color:#e92e39; text-align: left; margin-top: 5px;}
/*Sign In*/


/*List Account*/
.account-list-wrapper{display:flex; flex-direction: column; width:100%; align-items: center;}
.list-account-wrapper{ display:flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;}
.list-account-wrapper .heading-title{ font-family:latomedium; font-size:22px; color:#333; margin-bottom:30px;}
.list-account-wrapper .heading-title span{color:#ea333e;}
.list-account-wrapper ul{box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1);max-width: 330px; width: 100%; min-height:auto; overflow-x: hidden; overflow-y: auto;}
.list-account-wrapper li{border-bottom: 1px solid #f0f0f0; display:flex; flex-direction:column;}
.list-account-wrapper li a{padding:20px 28px; text-decoration: none;}
.list-account-wrapper li a span .mat-icon{color:#010101;}
.list-account-wrapper li a:hover{background-color:#f9f9f9;}
.list-account-wrapper li .list-container{display:flex; flex-direction: row; align-items: center;}
.list-account-wrapper li .list-container .domain-block{flex:1 1 auto;}
.list-account-wrapper li:last-child {border-bottom: 0px solid #f0f0f0;}
.list-account-wrapper li .title{font-family:latobold; font-size:16px; color:#000000;margin-bottom:8px;}
.list-account-wrapper li .domain-url{font-family:lato; font-size:13px; color:#666666;}
.list-account-header{display:flex; flex-direction: row; width: 100%; flex-shrink: 0;}
.list-account-header .list-account-logo{flex:1 1 auto;}
.list-account-header .list-account-profile{display:flex; align-items: center;}
.list-account-header .list-account-profile .user-profile{margin-right:10px;}
.list-account-header .list-account-profile .user-profile .user_name{ font-family:lato; font-size:13px; color:#000000;}
.list-account-header .list-account-profile .user-profile .user_email{font-family:lato; font-size:12px; color:#666666;}
.list-account-header .list-account-profile .nick-name{width:30px; font-family:gothammedium; font-size:11px; color:#ffffff;}
.list-account-header .list-account-profile button{border:0px none; background-color: transparent; color: #000;}
/*List Account*/



/*Auth0 Css*/
.auth0-lock.auth0-lock .auth0-lock-name{ font-family:lato; font-size:20px!important; color:#000000; padding:0!important;}
.auth0-lock.auth0-lock input[type="password"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:lato; font-size:13px; color:#333;}
.auth0-lock.auth0-lock input[type="email"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:lato; font-size:13px; color:#333;}
.auth0-lock.auth0-lock input:focus{background-color: #fff;}
.auth0-lock.auth0-lock .auth0-lock-input-wrap .auth0-lock-input{font-family:lato; font-size:13px; color:#000 !important;}
.auth0-lock.auth0-lock .auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon{padding-left:0!important;}
.auth0-lock.auth0-lock .auth0-lock-input-wrap.auth0-lock-focused{border-color:#333 !important; box-shadow: 0 0 6px #c7c7c7;}
.auth0-lock.auth0-lock .auth0-lock-error .auth0-lock-input-wrap{border:1px solid #ea333e; background-color: #fff; border-radius:2px; box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ff8b66}
.auth0-lock.auth0-lock .auth0-lock-success .auth0-lock-input-wrap{border:1px solid #58ba57; background-color: #fff; border-radius:2px; }
.auth0-lock.auth0-lock .auth0-lock-form .auth0-lock-alternative .auth0-lock-alternative-link{font-family:lato!important; text-decoration:underline;  font-size:12px!important; color:#438ee1!important;}
.auth0-lock.auth0-lock .auth0-lock-form .auth0-lock-alternative .auth0-lock-alternative-link:hover{text-decoration:none;}
.auth0-lock.auth0-lock .auth0-lock-submit{margin:0 20px 0px; transition:none !important; border-radius:0!important;box-sizing: border-box; height:auto!important; text-transform:uppercase!important; padding:0 20px!important; font-family:gothammedium!important; font-size: 15px!important; width: 86%!important; line-height: 46px!important; color: #ea333e!important;border: 2px solid #ea333e!important; background-color: #fff!important;}
.auth0-lock.auth0-lock .auth0-lock-submit .auth0-label-submit span{display:none!important;}
.auth0-lock.auth0-lock .auth0-lock-submit:hover{color: #fff!important; height:auto!important; background-color:#ea333e!important; transition:none!important;}
.auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-widget{box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.1)!important}
.auth0-lock.auth0-lock{font-family:lato!important;}
.auth0-lock.auth0-lock .auth0-lock-header-bg .auth0-lock-header-bg-solid{background-color: transparent!important;}
.auth0-lock.auth0-lock .auth0-lock-header-bg .auth0-lock-header-bg-blur{display:none!important}
.auth0-lock.auth0-lock .auth0-lock-header-bg{background:none!important}
.auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-overlay{opacity:0.2!important}
.auth0-lock-overlay .auth0-lock-badge-bottom{ display:none;}
.auth0-lock.auth0-lock .auth0-loading-container .auth0-loading{border-color:rgba(234,51,62,0.2) rgba(234,51,62,1) rgba(234,51,62,1) rgba(234,51,62,1)!important}
.auth0-lock.auth0-lock .auth0-lock-cred-pane{padding-bottom:20px!important}
/*Auth0 Css*/

/*Create Account Loading Css*/
.creating-account-loading-wrapper{position:absolute; top:.0; bottom:0; right:0; left:0; z-index:2;}
.creating-account-overlay{background-color:rgba(231,231,231,0.5); position:absolute; top:.0; bottom:0; right:0; left:0; z-index:1;}
.creating-account-loading{position:absolute; top:.0; bottom:0; right:0; left:0; z-index:3; }
.creating-account-loading-wrapper .aup-loading-spinner{position:absolute; z-index:2;}
/*Create Account Loading Css*/