/*Sign Up Header*/
.signup-header{ display:flex; flex-direction: row; align-items: center;}
.signup-header .aup-position-left{float:none; flex: 1 1 auto;}
.signup-header .aup-position-right{float:none; font-size:15px; color:#666666;}
.signup-header .aup-position-right a{margin-left:5px; font-size:15px; color:#ea333e; border-bottom:1px solid #ea333e; text-decoration:none;}
.signup-header .aup-position-right a:hover{font-size:15px; color:#ea333e; border-bottom:1px solid transparent; text-decoration:none;}
/*Sign Up Header*/

/*Sign Up common*/
.signup-container{display:block; min-height: auto; flex-direction:column; padding:0px 0 0; align-content: center; width:100%; text-align:center;}
/*Sign Up common*/

/*Signup Step One*/
span.icon-title {
    font-size: 16px;
    color: #e52e39;
}
.signup-heading-header{display:block; min-height: auto;}
.signup-heading{ font-family:latomedium; font-size:22px; color: #333333; min-height: auto;}
.signup-heading span{color: #e52e39;}
.signup-heading-seperator{display:flex; flex-direction: column; margin:15px 0; min-height: auto;}
.signup-heading-seperator span{max-width:60px; margin:auto; background-color: #000; height:3px; width:100%; min-height: auto;} 
.signup-heading-title{ font-family:latomedium; font-size:28px; color: #000000; margin:0 0 30px;}
.signup-heading-sub-title{font-size:17px; color: #666666; margin:0 0 30px;}
.signup-product-block {display:flex; justify-content: center;  margin: 20px auto 40px;min-height: auto;}
.signup-product-block .ap-product-box{position:relative; width:185px; transition: margin .2s ease-out;}
.signup-product-block .ap-product-box a{text-decoration:none;}
.signup-product-block .ap-product-box .ap-product-box-inner{margin:0 5px; box-sizing:border-box; transition: box-shadow .1s ease-out; cursor:pointer; padding:25px 18px 18px; height:140px; border:1px solid #dfdfdf; border-radius:5px; background: #fff;}
.signup-product-block .ap-product-box .ap-product-box-inner>div{margin-top:10px;font-size:14px; color:#333333;}
.signup-product-block .ap-product-box .fashionlifestyle{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-fashion-lifestyle.png"); background-position: top center; }
.signup-product-block .ap-product-box .homedecor{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-home-decor.png"); background-position: top center; }
.signup-product-block .ap-product-box .healthbeautycare{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-health-beauty.png"); background-position: top center; }
.signup-product-block .ap-product-box .electronics{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-electronics.png"); background-position: top center; }
.signup-product-block .ap-product-box .books{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-books.png"); background-position: top center; }

.signup-product-block .ap-product-box:hover .fashionlifestyle{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-fashion-lifestyle-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .homedecor{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-home-decor-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .healthbeautycare{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-health-beauty-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .electronics{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-electronics-white.png"); background-position: top center; }
.signup-product-block .ap-product-box:hover .books{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-books-white.png"); background-position: top center; }


.signup-step-one-bottom{font-size:15px; color:#ea333e;}
.signup-step-one-bottom a{font-size:15px; color:#ea333e; text-decoration:none; border-bottom:1px solid transparent; padding-bottom: 2px;}
.signup-step-one-bottom a:hover{font-size:15px; color:#ea333e; text-decoration:none; border-bottom:1px solid #ea333e}
.signup-product-block .ap-product-box:hover{margin-top: -8px; opacity: 1; filter: grayscale(0%); transition: all .1s ease-out;}
.signup-product-block .ap-product-box.ap-product-box-inactive { opacity: .6; filter: grayscale(100%) blur(2px);}
.signup-product-block .ap-product-box:hover .ap-product-box-inner{background-color: #dddddd;}
.signup-product-block .ap-product-box:hover .ap-product-box-inner>div{color: #fff;}

.signup-product-block .ap-product-box.active{margin-top: -8px; opacity: 1; filter: grayscale(0%); transition: all .1s ease-out;}
.signup-product-block .ap-product-box.active .ap-product-box-inner{background-color: #dddddd;}
.signup-product-block .ap-product-box.active .ap-product-box-inner>div{color: #fff;}
/*Signup Step One*/


/*Signup Step Two part 1*/
.signup-form-block {display:flex; margin: 20px auto 40px; max-width: 630px; width: 100%;align-items: flex-start; flex-direction: row;}
.signup-form-block .ap-product-box{position:relative; width:185px;}
.signup-form-block .ap-product-box .ap-product-box-inner{margin:0 5px; box-sizing:border-box; transition: box-shadow .1s ease-out; padding:25px 18px 18px; height:140px; border:1px solid #dfdfdf; border-radius:5px; background: #fff;}
.signup-form-block .ap-product-box .ap-product-box-inner>div{margin-top:10px;font-size:14px; color:#333333;}
.signup-form-block .ap-product-box .fashionlifestyle{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-fashion-lifestyle.png"); background-position: top center; }
.signup-form-block .ap-product-box .homedecor{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-home-decor.png"); background-position: top center; }
.signup-form-block .ap-product-box .healthbeautycare{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-health-beauty.png"); background-position: top center; }
.signup-form-block .ap-product-box .electronics{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-electronics.png"); background-position: top center; }
.signup-form-block .ap-product-box .books{ width:101px; height:67px; display:inline-flex;  background-image:url("/assets/images/select-vertical-books.png"); background-position: top center; }
.signup-form-block .ap-product-box.ap-product-box-inactive { opacity: .6; filter: grayscale(100%) blur(2px);}
.signup-form-block .signup-form{display:flex; flex-direction: row; text-align: left; flex-grow: 1; margin-left: 50px;}
.signup-form-block .signup-form ul{margin:0;padding: 0; display:flex; flex-direction: column; width: 100%;}
.signup-form-block .signup-form ul li{text-align: center; margin:0 0 20px;padding: 0; width: 100%; position:relative;}
.signup-form-block .signup-form ul li input[type="text"]{display: block; transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box; border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li input[type="email"]{display: block;transition:all 0.2s ease-in-out;width: 100%; box-sizing:border-box;border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li input[type="number"]{display: block;transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box;border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li input[type="password"]{display: block;transition:all 0.2s ease-in-out; width: 100%; box-sizing:border-box;border-radius:5px; border:1px solid #f0f0f0; background-color:#f0f0f0; padding:15px 10px; font-family:gothambook; font-size:12px; color:#333;}
.signup-form-block .signup-form ul li.action-block{margin-bottom:0; margin-top: 20px; text-align: left; display:flex;}
.signup-form-block .signup-form ul li:last-child{margin-bottom:0; margin-top: 20px; text-align: left; display:flex;}
.signup-form-block .signup-form ul li .aup-red-button{border-width:4px; font-family: gothammedium; font-size:14px; line-height: 40px; padding:0 54px;}
.signup-form-block .signup-form ul li.animation-group {position:relative;}
.signup-form-block .signup-form ul li.animation-group div{position: absolute; left: 0; top: 0; width: 100%; padding: 0px;  margin-top:0;}
.signup-form-block .signup-form ul li.animation-group{ display: flex; flex-direction:column;}
.signup-form-block .signup-form ul li.animation-group div{ display: flex; color:#6aa84f; font-family:lato; font-size: 13px; font-style: italic;}
.signup-form-block .signup-form ul li .aup-dialog-back-arrow-button{width:50px; height:50px; margin-left:21px;}
.signup-form-block .signup-form ul li .aup-dialog-back-arrow-button:hover{ background-color: #d7d8d8;}
.signup-form-block .signup-form ul li input:focus{background-color: #fff; border:1px solid #333; box-shadow: 0 0 6px #c7c7c7;}
.signup-form-block .signup-form ul li input::-webkit-input-placeholder { color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input::-moz-input-placeholder {  color:#bebebe; opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input::-o-input-placeholder { color:#bebebe;  opacity: 1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input::-ms-input-placeholder {  color:#bebebe; opacity:1; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-webkit-input-placeholder { color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-moz-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-o-input-placeholder { color:#bebebe;  opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li input:focus::-ms-input-placeholder {  color:#bebebe; opacity: 0; transition:all 0.2s ease-in-out;}
.signup-form-block .signup-form ul li.has-error input{border:1px solid #ea333e; background-color: #fff;}
.signup-form-block .signup-form ul li.has-error input:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ff8b66}
.signup-form-block .signup-form ul li .tooltip{z-index:2; left: 0;  max-width: 250px; width: 100%; margin: auto; right: 0; background-color: #ea333e; border-radius: 3px; line-height: 1.5; padding: 4px 11px;
font-size: 10px; text-transform:uppercase;  letter-spacing: 1.2px; display: inline-block;  letter-spacing: .5px; pointer-events: none; color:#fff; position: absolute;}
.signup-form-block .signup-form ul li.has-success input{border:1px solid #58ba57; background-color: #fff;}
.signup-form-block .signup-form ul li.has-success input:focus{box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #b0e971}
.signup-form-block .signup-form ul li .tooltip:after {position:absolute; pointer-events:none;border-color: transparent transparent #ea333e;
    border-image: none; border-style: solid; border-width: 5px;  bottom: 100%; content: " "; height: 0; margin-left: -4px; left: 50%; width: 0;}
.signup-form-block .signup-form ul li .tooltip ul li{text-align: left; margin:0 0 6px;}
.signup-form-block .signup-form ul li .tooltip ul li:last-child{margin:0}
.signup-form-block .signup-form ul li .tooltip ul li strong{font-weight:normal;}
/*Signup Step Two part 1*/

