<section class="home-section1">
      
  <div class="slick-track">
     
   <div>
     <h3 (click) = "selectTemplate($event,1)">
       <img src="assets/images/templates/christian/1.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','1')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,2)">
       <img src="assets/images/templates/christian/2.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','2')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,3)">
       <img src="assets/images/templates/christian/3.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','3')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,4)">
       <img src="assets/images/templates/christian/4.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','4')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,5)">
       <img src="assets/images/templates/christian/5.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','5')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,1)">
       <img src="assets/images/templates/christian/1.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','1')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,2)">
       <img src="assets/images/templates/christian/2.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','2')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>

   <div>
     <h3 (click) = "selectTemplate($event,3)">
       <img src="assets/images/templates/christian/3.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','3')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,4)">
       <img src="assets/images/templates/christian/4.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','4')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>


   <div>
     <h3 (click) = "selectTemplate($event,5)">
       <img src="assets/images/templates/christian/5.jpg" alt="christian" />
       <div class="temlate-selected" >
         <button class="select-template" (click) = "goToForm()" >Selected</button>
         <button class="zoom" (click) = "getZoomImage($event,'christian','5')"><i class="fa fa-search-plus fa-fw"></i></button>
       </div>
       <div class="slick-arrows"></div>
     </h3>
     <h4>christian</h4>
   </div>
</div>
</section>