<div id="main_container"  >

  <a class="show_menu" href="#"><img src="assets/images/mobile_menu_open.png" alt="" title="" /></a>
  <a class="hide_menu" href="#"><img src="assets/images/mobile_menu_close.png" alt="" title="" /></a>
  
  <nav class="menu">                                                                  
      <ul id="main_menu">
          <li><a href="index-2.html" class="logo"><img src="assets/images/logo.png" /></a></li>
          <li><a class="selected" href="index-2.html">HOME</a></li>
          <li><a href="page.html">THE WEDDING</a>
          <ul>
              <li><a href="page.html">LOVELY DROP DOWN</a></li>
              <li><a href="page.html">LOVELY DROP DOWN</a></li>
              <li><a href="page.html">LOVELY DROP DOWN</a></li>
          </ul>
          </li>
          <li><a href="blog.html">BLOG</a></li>
          <li><a href="photos.html">PHOTOS</a></li>
          <li><a href="rsvp.html">RSVP</a></li>
          <li><a href="contact.html">GET IN TOUCH</a></li> 
          <li>
                <button mat-button [matMenuTriggerFor]="menu">My Account</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>Login</button>
                <button mat-menu-item>Register</button>
                </mat-menu>
          </li> 
      </ul>
      
  </nav>
  
  <div class="title_container">
   
       <div class="heading-upper">Started on 25 Dec, 2017</div>
       <div class="heading">Party Celebration</div>
       <div class="heading_under">Media Advertising Revenue Solution</div>
       <div class="title_date"><span class="swirl_left"><span class="swirl_right">
         <button class="btn-click" (click) = "openDialog()" >Create My Biodata Now</button>
       </span></span></div>
       
       
  </div>

  <div class="slider_container">
          <div class="slider_trans_black"></div>
          <div id="random">
              <div class="banner-one"></div>
              <div class="banner-two"></div> 
              <div class="banner-three"></div>                   
          </div>
 </div>

 <div id="thewedding" class="cta-1">
        <div class="container">
            <div id="id1" class="row wpb_row pix-row-overlay">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <h2 style="font-size: 40px;color:#232c30;text-align: center"
                                class="vc_custom_heading thin vc_custom_1487789525383">Three Simple Steps to Create Biodata</h2>
                            <div class="stats row-counters pix-easy-chart">
                                <div class="b-info-columns-holder b-steps-list">
                                    <div class="row equal futurico_steps">
                                        <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                             data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.1s"
                                             style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeIn;">
                                            <div class="info-column-icon ">
                                                <i class="fa fa-search"></i>
                                                <span class="step-number"> 1 </span>
                                            </div>
                                            <h6 class="info-column-title">
                                                Select </h6>
                                            <div class="info-column-text">
                                                <p> Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor </p>
                                            </div>
                                        </div>
                                        <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                             data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s"
                                             style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeIn;">
                                            <div class="info-column-icon ">
                                                <i class="fa fa-filter"></i>
                                                <span class="step-number"> 2 </span>
                                            </div>
                                            <h6 class="info-column-title">
                                                Modify </h6>
                                            <div class="info-column-text">
                                                <p>Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor </p>
                                            </div>
                                        </div>
                                        <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                             data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.7s"
                                             style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeIn;">
                                            <div class="info-column-icon">
                                                <i class="fa fa-download"></i>
                                                <span class="step-number">3 </span>
                                            </div>
                                            <h6 class="info-column-title">
                                                Download </h6>
                                            <div class="info-column-text">
                                                <p> Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!--<div class="countdown_container">
    <h2 class="centered_title">Three Simple Steps to Create Biodata</h2>
   <div id="defaultCountdown1" class="hasCountdown">
        <span class="countdown_row countdown_show4">
            <span class="countdown_section">
                <span class="icon"><i class="fa fa-search" aria-hidden="true"></i></span><br>
                <span class="countdown_amount">Select</span><br>
                Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor
            </span>
            <span class="countdown_section">
                <span class="icon"><i class="fa fa-filter" aria-hidden="true"></i></span><br>
                <span class="countdown_amount">Modify</span><br>
                Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor
            </span>
            <span class="countdown_section">
                <span class="icon"><i class="fa fa-download" aria-hidden="true"></i></span><br>
                <span class="countdown_amount">Download</span><br>
                Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor 
            </span>
        </span>
    </div>
 </div>-->

  <div class="about_content">
  <div class="about_topsign">&amp;</div>
   <div class="full_width_centered">
             <div class="left12_first">
                 <span class="names_titles">THE BRIDE</span>
                 <h2>JENIFER HARRISON</h2>
                      <div class="about_pic_container">
                      <span class="about_picframe"></span>
                      <div class="about_social">
                      <a href="#"><img src="assets/images/social/twitter.png" alt="" title="" /></a>
                      <a href="#"><img src="assets/images/social/facebook.png" alt="" title="" /></a>
                      <a href="#"><img src="assets/images/social/pinterest.png" alt="" title="" /></a>
                      </div>
                      <div class="about_pic"><img src="assets/images/image12.jpg" alt="" title="" /></div>
                      </div>
                  <a href="#" class="thumb_read_more">MORE ABOUT JENIFER</a>
                 <p>Love is friendship that has caught fire. It is quiet understanding, mutual confidence, <a href="#">sharing and forgiving</a>. It is loyalty through good and bad times. It settles for less than perfection and <strong>makes allowances</strong> for human weaknesses "<a href="#">LOVE QUOTE</a>":</p>
                 <span class="love_quote">Sometimes the heart sees what is invisible to the eye.</span>
                 
             </div>
             <div class="left12_last">
                 <span class="names_titles">THE GROOM</span>
                 <h2>OLIVER DUVALL</h2>
                      <div class="about_pic_container">
                      <span class="about_picframe"></span>
                      <div class="about_social">
                      <a href="#"><img src="assets/images/social/twitter.png" alt="" title="" /></a>
                      <a href="#"><img src="assets/images/social/facebook.png" alt="" title="" /></a>
                      <a href="#"><img src="assets/images/social/pinterest.png" alt="" title="" /></a>
                      </div>
                      <div class="about_pic"><img src="assets/images/image12_2.jpg" alt="" title="" /></div>
                      </div>
                  <a href="#" class="thumb_read_more">MORE ABOUT OLIVER</a>
                 <p>I believe that imagination is stronger than knowledge. That myth is more potent than history. That dreams are more powerful than facts. That hope always triumphs over experience. That laughter is the only cure for grief. And I believe that love is stronger than death "<a href="#">LOVE QUOTE</a>":</p>
                 <span class="love_quote">Where there is love there is life.</span>
             </div>
  
        <div class="clear"></div>
      </div>  <!--end of full width-->
    </div> <!--end of about content-->   

<!-- <div class="carousel_container"> 
 <div class="carousel_container_image">
   <div class="full_width_carousel">
      <h2>OUR BRIDESMAIDS AND GROOMSMEN'S</h2>
      <span class="carousel_titles">BEST MAN &amp; MAID OF HONOR</span>
      <div id="weddingcarousel" class="owl-carousel">
          <div class="left14"><div class="bestman"><span>BEST MAN</span><img src="assets/images/bestman.png" alt="" title="" /></div><img src="assets/images/image_14.jpg" alt="" title="" /><h3>MIKE STEPHANSON</h3></div>
          <div class="left14"><div class="bestman"><span>MAID OF HONOR</span><img src="assets/images/maidofhonor.png" alt="" title="" /></div><img src="assets/images/image_14_3.jpg" alt="" title="" /><h3>LINDSEY REMY</h3></div>
          <div class="left14"><img src="assets/images/image_14_2.jpg" alt="" title="" /><h3>ELIZABETH LYN</h3></div>
          <div class="left14_last"><img src="assets/images/image_14_6.jpg" alt="" title="" /><h3>STEVE KAY</h3></div>
          <div class="left14"><img src="assets/images/image_14_5.jpg" alt="" title="" /><h3>JOHN DOE</h3></div>
          <div class="left14"><img src="assets/images/image_14_3.jpg" alt="" title="" /><h3>MAYA ELIOT</h3></div>
          <div class="left14"><img src="assets/images/image_14_7.jpg" alt="" title="" /><h3>JOHANNA PASCAL</h3></div>
          <div class="left14_last"><img src="assets/images/image_14_8.jpg" alt="" title="" /><h3>JOHN DOE</h3></div>
    
    
      </div>   
<div class="view_all_carousel"><a href="bridesmaids.html">VIEW ALL BRIDESMAIDS AND GROOMSMEN'S</a></div>
   </div>
  </div> 
</div> -->

<!--Mentor START-->
<div id="mentor" class="section-padding">
        <div class="carousel-background">
            <div class="carousel-background-black">
                <div class="container">
                    <div class="row choosetemplates-section">
                        <div class="page-title text-center uppercase">
                            <h1>Our Bridesmaids and groomsmen's</h1>
                            <span class="names_titles">Best Man & Maid of Honor</span>
                        </div>
    
                        <div style="padding: 70px 0;">    
                            <div >
                                <div class="col-md-3 template-section">
                                    <div class="team-info">
                                        <div class="img-sec">
                                            <img src="assets/images/templates/christian/christian3.jpg" class="img-responsive">
                                            <h3> HINDU </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 template-section">
                                        <div class="team-info">
                                            <div class="img-sec">
                                                <img src="assets/images/templates/christian/christian3.jpg" class="img-responsive">
                                                <h3> CHRISTIAN </h3>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-3 template-section">
                                        <div class="team-info">
                                            <div class="img-sec">
                                                <img src="assets/images/templates/christian/christian3.jpg" class="img-responsive">
                                                <h3> SIKH </h3>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-3 template-section">
                                        <div class="team-info">
                                            <div class="img-sec">
                                                <img src="assets/images/templates/christian/christian3.jpg" class="img-responsive">
                                                <h3> MUSLIM </h3>
                                            </div>
                                        </div>
                                </div>
    
                            </div>
    
                        </div>
                        <div class="view-all">
                            <a class="uppercase btn btn-block view-all-btn">View All BrideMaids and Groomsmen's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <!--Mentor END-->

<div class="full_width_centered">
     <div class="latest_posts">
          <h2>FROM THE BLOG</h2>
          <div class="left13">
            <div class="latest_post">
              <div class="post_info">
                 <span class="post_date">20 JUNE 2015</span>
                 <h3><a href="blog-single.html">THE PROPOSAL WAS AMAZING</a></h3>
                 <a href="blog-single.html" class="post_read_more">READ MORE</a>
              </div> 
              <img src="assets/images/post_thumb1.jpg" alt="" title="" />
            </div>
          </div>
          <div class="left13">
            <div class="latest_post">
              <div class="post_info">
                 <span class="post_date">18 MAY 2015</span>
                 <h3><a href="blog-single.html">OUR ROMANTIC HONEYMOON IN VENICE</a></h3>
                 <a href="blog-single.html" class="post_read_more">READ MORE</a>
              </div> 
              <img src="assets/images/post_thumb2.jpg" alt="" title="" />
            </div>
          </div>
          <div class="left13_last">
            <div class="latest_post">
              <div class="post_info">
                 <span class="post_date">31 MARCH 2015</span>
                 <h3><a href="blog-single.html">LOVE IS COMPOSED OF A SINGLE SOUL</a></h3>
                 <a href="blog-single.html" class="post_read_more">READ MORE</a>
              </div> 
              <img src="assets/images/post_thumb3.jpg" alt="" title="" />
            </div>
          </div>
          <a href="blog.html" class="view_all">VIEW ALL POSTS</a>
          <div class="clear"></div>
    </div>
</div>


<div class="home_bottom">
    <div class="full_width_centered">
          <div class="left13"> 
          <div class="bottom_icon"><img src="assets/images/icon_music.png" alt="" title="" /></div>
          <h2>BACHELOR PARTY</h2>
          <span class="subtitle">BRING YOUR DANCING SHOES</span>
          <p>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
           <!-- <a href="page.html" class="post_read_more">READ MORE</a>-->
          </div>
          <div class="left13">
          <div class="bottom_icon"><img src="assets/images/icon_location.png" alt="" title="" /></div>
          <h2>WEDDING LOCATION</h2>
          <span class="subtitle">VENICE, ITALY - HOTEL ADAM</span>
          <p>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
              <!-- <a href="page.html" class="post_read_more">READ MORE</a>-->
          </div>
          <div class="left13_last">
          <div class="bottom_icon"><img src="assets/images/icon_gifts.png" alt="" title="" /></div>
          <h2>GIFT REGISTRY</h2>
          <span class="subtitle">GIVEN FREELY AND OUT OF PURE LOVE</span>
          <p>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
          <!--<a href="page.html" class="post_read_more">READ MORE</a>-->
          </div>
          
          <div class="clear"></div>
    </div>
</div>

<!--CART START-->
<div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="page-title text-center">
                    <div class="horse-car hidden-sm hidden-xs">
                        <img class="car" src="./assets/images/carriage.png" alt="images">
                        <img class="wheel-one round" src="./assets/images/wheel-front.png" alt="images">
                        <img class="wheel-two round" src="./assets/images/wheel-rear.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--CART END-->
    <div class="signup-newsletter footer-ct1 section-padding">
            <div class="container">
                <div class="row">
                    <div style="visibility: visible; animation-name: zoomIn;" class="col-sm-12 text-center section-padding">
                        <h3>Join Our Newsletter</h3>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control  col-md-6" placeholder="Please Enter Your Email Id">
                            </div>
                            <button type="submit" class="btn btn-primary">Join </button>
                        </form>
                    </div>
                    <!--- END COL -->
                </div>
                <!--- END ROW -->
            </div>
          </div>
          

<app-footer></app-footer>

 <!--<div class="footer">
    <div class="full_width_centered">
     <div class="footer_sign"><span class="swirl_left_transparent"><span class="swirl_right_transparent"><img src="assets/images/birds_icon.png" alt="" title="" /></span></span></div>
     <div class="footer_names">JENIFER &amp; OLIVER</div>
     <div class="footer_socials">
     <ul>
     <li><a href="#"><img src="assets/images/social/twitter.png" alt="" title="" /></a></li>
     <li><a href="#"><img src="assets/images/social/facebook.png" alt="" title="" /></a></li>
     <li><a href="#"><img src="assets/images/social/pinterest.png" alt="" title="" /></a></li>
     <li><a href="#"><img src="assets/images/social/vimeo.png" alt="" title="" /></a></li>
     <li><a href="#"><img src="assets/images/social/google.png" alt="" title="" /></a></li>
     <li><a href="#"><img src="assets/images/social/instagram.png" alt="" title="" /></a></li>
     </ul>
     </div>
     <nav class="footer_menu">
     <ul>
     <li><a href="index-2.html" class="selected">HOME</a></li>
     <li><a href="page.html">THE WEDDING</a></li>
     <li><a href="rsvp.html">RSVP</a></li>
     <li><a href="contact.html">GET IN TOUCH</a></li>
     <li><a onClick="jQuery('html, body').animate( { scrollTop: 0 }, 'slow' );"  href="javascript:void(0);" class="gotop" title="Go on top">TOP</a> </li>
     </ul>
     </nav>
     <div class="footer_copyright">Made with love by <a href="../index.html">SindevoThemes</a> &amp; <a href="http://ourweddingtheme.com/">OURWEDDINGTHEME.COM</a></div>
    </div>
 </div>-->

</div>

