<div id="main_container"  >

  <a class="show_menu" href="#"><img src="assets/images/mobile_menu_open.png" alt="" title="" /></a>
  <a class="hide_menu" href="#"><img src="assets/images/mobile_menu_close.png" alt="" title="" /></a>
  
 <nav class="menu"> 
    <a routerLink = "/" class="logo"><img src="assets/images/logo.png" /></a>                                                                 
      <ul id="main_menu">
          <li><a routerLink = "/my-biodata" >My Biodata</a></li>
          <li><a routerLink = "/blog">Blog</a></li>
          <li><a routerLink = "/about-us">About Us</a></li>
          <li><a routerLink = "/contact-us">Contact Us</a></li> 
          <li class="my-account" *ngIf = "!userLoggedIn" >  
                <button mat-button [matMenuTriggerFor]="menu"> <!-- <i class="fa fa-user fa-stack-1x"></i>   --> My Account</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item (click) = "gotologin($event)">Login</button>
                <button mat-menu-item (click) = "gotoregister($event)">Register</button>
                </mat-menu>
          </li> 
          <li class="my-account" *ngIf = "userLoggedIn" >
            <button mat-button [matMenuTriggerFor]="menu">My Account</button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item >Welcome! {{ display_name.name }}</button>
            <button mat-menu-item (click) = "signOut($event)">Logout</button>
            </mat-menu>
      </li> 
      </ul>
  </nav>
<!-- <model-form></model-form> -->

  <router-outlet></router-outlet>
  <app-footer></app-footer>


</div>

