<!--BANNER START-->
<div id="about_banner">
    <div class="row">
        <div  class="landing__welcome landing__welcome--blue">
            <div class="container">
               <div class="col-md-12">
                <header class="header">                  
                        <h1 class="h-strong">Privacy policy </h1>                                    
                </header>
                </div>
            </div>
          </div>
      
    </div>

    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 term-contents">    
                  <div class="terms-text">            
                   &nbsp;
                    <h3>UpToWork is a business of Workz Sp. z o.o.</h3>
                     &nbsp;
                    <p> ("UpToWork," "we," "us") is concerned about online privacy issues and wants you to be familiar with how we collect, use and disclose your Personally Identifiable Information (as defined below). This Privacy Policy (the "Policy") describes our practices in connection with Personally Identifiable Information that we collect through our web site located at https://uptowork.com (the "Site"). This Policy does not govern our collection of information through any web site, or by any other means, other than through the Site or by third parties.</p>
                    &nbsp;
                    <p>1. What Types of Information Does UpToWork Collect From Me? &nbsp;
                    </p> 
                    <p>&nbsp;</p>
                    <p>Service Provider – the owner of the Uptowork.com website;</p>
                    &nbsp;
                    <p>UpToWork gathers two basic types of information through the Site: Personally Identifiable Information" (or "PII") and "Non-Personally Identifiable Information" (or "Non-PII"). Personally Identifiable Information is information that identifies you as an individual. Non-Personally Identifiable Information is aggregated information, demographic information, IP addresses and any other information that does not reveal your specific identity.</p>
                    <p>UpToWork gathers two basic types of information through the Site: Personally Identifiable Information" (or "PII") and "Non-Personally Identifiable Information" (or "Non-PII"). Personally Identifiable Information is information that identifies you as an individual. Non-Personally Identifiable Information is aggregated information, demographic information, IP addresses and any other information that does not reveal your specific identity.</p>
                    <p>UpToWork gathers two basic types of information through the Site: Personally Identifiable Information" (or "PII") and "Non-Personally Identifiable Information" (or "Non-PII"). Personally Identifiable Information is information that identifies you as an individual. Non-Personally Identifiable Information is aggregated information, demographic information, IP addresses and any other information that does not reveal your specific identity.</p>
                    
                    <p>Terms of Service Policy last updated February 13, 2018.                  </p>
                </div>
                  </div>
            </div>
        </div>
    </div>

  
<!--BANNER END-->
