<!--BANNER START-->
<div id="about_banner">
    <div class="row">
        <div  class="landing__welcome landing__welcome--blue">
            <div class="container">
               <div class="col-md-12">
                <header class="header">                  
                        <h1 class="h-strong">Terms of service</h1>                                    
                </header>
                </div>
            </div>
          </div>
      
    </div>

    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 term-contents">    
                  <div class="terms-text">            
                  <p>The owner of the Uptowork.com is Workz Sp. z o.o. based in Warsaw (01-460) at Pogonowskiego 18, entered into the register of entrepreneurs of the National Court Register kept by the District Court in Warsaw, 13th Economic Division of the National Court Register under KRS number 0000598398, REGON (business statistical number) 363625760, NIP (tax identification number) 5223052410, with share capital of 250,000.00 PLN, paid in full.
                    </p>
                    &nbsp;
                    <h3>Definitions</h3>
                     &nbsp;
                    <p>1. Site – an internet website offering a package of e-Services (the Software) for website usability testing, available at Uptowork.com;</p>
                    <p>2. TOS – these Uptowork.com terms of service which constitute an agreement between the User and the Service Provider;</p>
                    <p>3. Service Provider – the owner of the Uptowork.com website;</p>
                    <p>4. User – a natural or legal person who uses the Website in accordance with these TOS;</p>
                    <p>5. Service – a Service which enables the User to use the functionalities of the Software and the Site and the content thereof;</p>
                    <p>6. Software – the applications in the package of Service available on the Website that allow the User to make a Resume or Cover Letter, collectively referred to as Documents;</p>
                    <p>7. Resume – a resume created with the use of the Software;</p>
                    <p>8. Cover letter – a cover letter created with the use of the Software;</p>
                    <p>9. Electronic profile – an online resume created with the use of the service;</p>
                    <p>10. Documents – cover letters, resume, electronic profiles created with the use of the software;</p>
                    <p>11. Plan – one of three premium plans forming the Software: Start, Premium, 3-Month Premium. See section 24 for prices.</p>
                    
                    <p>Terms of Service Policy last updated February 13, 2018.                  </p>
                </div>
                  </div>
            </div>
        </div>
    </div>

  
<!--BANNER END-->
