<!-- <section class="home-section">
  <div class="slick-track">
    <div><img src="assets/images/slider/slide1.jpg" alt="Slider 1" /> <div class="slick-arrows"></div></div>
    <div><img src="assets/images/slider/slide2.jpg" alt="Slider 2" /> <div class="slick-arrows"></div></div>
    <div><img src="assets/images/slider/slide3.jpg" alt="Slider 3" /> <div class="slick-arrows"></div></div>
  </div>
</section> -->
<section class="home-section">
  <div class="silder-custom">
    <div class="silder-1" *ngIf = "currentSlide == '1'"><img src="assets/images/slider/slide1.jpg" alt="Slider 1" /> <div class="slick-arrows"></div></div>
    <div class="silder-1" *ngIf = "currentSlide == '2'"><img src="assets/images/slider/slide2.jpg" alt="Slider 2" /> <div class="slick-arrows"></div></div>
    <div class="silder-1" *ngIf = "currentSlide == '3'"><img src="assets/images/slider/slide3.jpg" alt="Slider 3" /> <div class="slick-arrows"></div></div>
  </div>
</section>