<!--BANNER START-->
<div id="about_banner">
  <div class="row">
      <div  class="landing__welcome landing__welcome--blue">
          <div class="container">
             <div class="col-md-12">
              <header class="header">                  
                      <h1 class="h-strong">Blogs</h1>
                      <h2 class="h3 d">Who we are and what we do...</h2>                  
              </header>
              </div>
          </div>
        </div>
  </div>
  </div>  

 <div class="blog-area"> 
<div class="date-posts">
    <div class="post-outer">
      <article class="post hentry post-wrapper">
        <h2 class="post-title entry-title"> <a href="#" title="Google Turns Links Black, How to Get them Back to Blue"> Google Turns Links Black, How to Get them Back to Blue </a> </h2>
        <div class="post-info"> <span class="label-info"> Date : <a href="#" rel="bookmark" title="permanent link"><abbr class="published updated" title="2016-05-12T06:56:00-07:00">5/12/2016</abbr></a> </span>  </div>
        <a content="#">
        <div class="post-image fade-in one"><span class="overlay"></span>

        <img width="115" height="100" src="/assets/images/blogs/blog1.jpg" alt="Google Turns Links Black, How to Get them Back to Blue" title="Google Turns Links Black, How to Get them Back to Blue"></div>
        </a>
        <div class="post-body entry-content" id="post-body-5823193655041718066">
          <div id="summary5823193655041718066">
            <div class="snippets">Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum...</div>
          </div>
        </div>
      </article>
      <div style="clear: both;"></div>
      <div style="clear: both;"></div>
    </div>
    <div class="post-outer">
      <article class="post hentry post-wrapper">
        <h2 class="post-title entry-title"> <a href="#" title="Use Google Translate Within Any Android App, Use Offline on iOS"> Use Google Translate Within Any Android App, Use Offline on iOS </a> </h2>
        <div class="post-info"> <span class="label-info"> Date : <a href="#" rel="bookmark" title="permanent link"><abbr class="published updated" title="2016-05-12T06:56:00-07:00">5/12/2016</abbr></a> </span>  </div><a content="#"></a> <a href="#">
        <div class="post-image fade-in one"><span class="overlay"></span>      
          <img width="115" height="100" src="/assets/images/blogs/blog2.jpg" alt="Use Google Translate Within Any Android App, Use Offline on iOS" title="Use Google Translate Within Any Android App, Use Offline on iOS"></div>
        </a>
        <div class="post-body entry-content" id="post-body-6602855262229490367">
          <div id="summary6602855262229490367">
            <div class="snippets">Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum...</div>
          </div>
        </div>
      </article>
      <div style="clear: both;"></div>
      <div style="clear: both;"></div>
    </div>
    <div class="post-outer">
      <article class="post hentry post-wrapper">
        <h2 class="post-title entry-title"> <a href="#" title="Google PageRank as Part of One Big SEO Picture"> Google PageRank as Part of One Big SEO Picture </a> </h2>
        <div class="post-info"> <span class="label-info"> Date : <a href="#" rel="bookmark" title="permanent link"><abbr class="published updated" title="2016-05-12T06:56:00-07:00">5/12/2016</abbr></a> </span>  </div>
        <a content="#"></a> <a href="#">
        <div class="post-image fade-in one"><span class="overlay"></span>
          <img width="115" height="100" src="/assets/images/blogs/blog3.jpg" alt="Google PageRank as Part of One Big SEO Picture" title="Google PageRank as Part of One Big SEO Picture"></div>
        </a>
        <div class="post-body entry-content" id="post-body-5326147695936139281">
          <div id="summary5326147695936139281">
            <div class="snippets">Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur, ipsum...</div>
          </div>
        </div>
      </article>
      <div style="clear: both;"></div>
      <div style="clear: both;"></div>
    </div>
    <div class="post-outer">
      <article class="post hentry post-wrapper">
        <h2 class="post-title entry-title"> <a href="#" title="Competently deploy competive networks after"> Competently deploy competive networks after </a> </h2>
        <div class="post-info"> <span class="label-info"> Date : <a href="#" rel="bookmark" title="permanent link"><abbr class="published updated" title="2016-05-12T06:56:00-07:00">5/12/2016</abbr></a> </span>  </div>
        <a content="#">
        <div class="post-image fade-in one"><span class="overlay"></span>
            <img width="115" height="100" src="/assets/images/blogs/blog4.jpg" alt="Competently deploy competive networks after" title="Competently deploy competive networks after"></div>
        </a>
        <div class="post-body entry-content" id="post-body-3869695594332273856">
          <div id="summary3869695594332273856">
            <div class="snippets">Aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vitae rhoncus ex. Aenean auctor...</div>
          </div>
        </div>
      </article>
      <div style="clear: both;"></div>
      <div style="clear: both;"></div>
    </div>
    <div class="post-outer">
      <article class="post hentry post-wrapper">
        <h2 class="post-title entry-title"> <a href="#" title="Competently deploy competive networks after"> Competently deploy competive networks after </a> </h2>
        <div class="post-info"> <span class="label-info"> Date : <a href="#" rel="bookmark" title="permanent link"><abbr class="published updated" title="2016-05-12T06:56:00-07:00">5/12/2016</abbr></a> </span>  </div>
        <a content="#"></a> <a href="#">
        <div class="post-image fade-in one"><span class="overlay"></span>
          <img width="115" height="100" src="/assets/images/blogs/blog5.jpg" alt="Competently deploy competive networks after" title="Competently deploy competive networks after"></div>
        </a>
        <div class="post-body entry-content" id="post-body-2446922167662081668">
          <div id="summary2446922167662081668">
            <div class="snippets"> Ultrices proin mi urna nibh ut, aenean sollicitudin etiam libero nisl, ultrices ridiculus in magna purus consequuntur,...</div>
          </div>
        </div>
      </article>
      <div style="clear: both;"></div>
    </div>
    <div class="post-outer">
      <article class="post hentry post-wrapper">
        <h2 class="post-title entry-title"> <a href="#" title="20 Sed in lacus ut enim adipiscing aliquetulla vene natis"> 20 Sed in lacus ut enim adipiscing aliquetulla vene natis </a> </h2>
        <div class="post-info"> <span class="label-info"> Date : <a href="#" rel="bookmark" title="permanent link"><abbr class="published updated" title="2016-05-12T06:56:00-07:00">5/12/2016</abbr></a> </span>  </div>
        <a content=""></a> <a href="#">
        <div class="post-image fade-in one"><span class="overlay"></span>
          <img width="115" height="100" src="/assets/images/blogs/blog6.jpg" alt="20 Sed in lacus ut enim adipiscing aliquetulla vene natis" title="20 Sed in lacus ut enim adipiscing aliquetulla vene natis"></div>
        </a>
        <div class="post-body entry-content" id="post-body-2468833528772874742">
          <div id="summary2468833528772874742">
            <div class="snippets">Procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except...</div>
          </div>
        </div>
      </article>
      <div style="clear: both;"></div>
   
    </div>
  </div>

  </div>


