<!--BANNER START-->
<div id="about_banner">
  <div class="row">
      <div  class="landing__welcome landing__welcome--blue">
          <div class="container">
             <div class="col-md-12">
              <header class="header">                  
                      <h1 class="h-strong">Our Blogs</h1>                                  
              </header>
              </div>
          </div>
        </div>
  </div>
  </div>  

 <div class="blog-area"> 
    <div class="loading" *ngIf ="loading"><img src="assets/images/loading.gif" alt="Loading" width="80" /><br />Loading...</div>
<div class="date-posts" *ngIf = "!loading">
    <div class="post-outer" *ngFor="let blogdata of data">
      <article class="post hentry post-wrapper">
        <h2 class="post-title entry-title"> <a routerLink="/blog/{{blogdata.id}}" title="Google Turns Links Black, How to Get them Back to Blue">
          {{blogdata.title.rendered}} </a> </h2>
        <div class="post-info"> <span class="label-info"> Date : <abbr class="published updated" >{{blogdata.date | date: 'medium'}}</abbr> </span>  </div>
        <a content="#">
        <div class="post-image fade-in one"><span class="overlay"></span>

        <img width="115" height="100" src="{{ blogdata.better_featured_image.source_url }}" alt="Google Turns Links Black, How to Get them Back to Blue" title="Google Turns Links Black, How to Get them Back to Blue"></div>
        </a>
        <div class="post-body entry-content" id="post-body-5823193655041718066">
          <div id="summary5823193655041718066">
            <div class="snippets" [innerHTML]="blogdata.excerpt.rendered"></div>
          </div>
        </div>
      </article>
      <div style="clear: both;"></div>
      <div style="clear: both;"></div>
    </div>
  </div>

  </div>


