
<div class="black_shadow"></div>
<h3 class="select-template-heading">Select your templates:</h3>

<div *ngIf = "current_community == 'hindu'" (goToFormdata) = "goToForm($event)"><app-hindu></app-hindu></div>
<div *ngIf = "current_community == 'muslim'" (goToFormdata) = "goToForm($event)"><app-islam ></app-islam></div>
<div *ngIf = "current_community == 'christian'" (goToFormdata) = "goToForm($event)"><app-christian></app-christian></div>
<div *ngIf = "current_community == 'sikh'" ><app-sikh (goToFormdata) = "goToForm($event)"></app-sikh></div>   