<section id="template-heading"  class="blue">
  <h2>Choose your Bio Data template:</h2>
  <hr style="color:#fff;width: 250px;height: 2px;text-align:  center;margin: 0 auto;" />
</section>
<!-- <section id="features" class="blue">
    <div class="content">
      <div class="slider center">

          <div *ngFor="let cm of getTemplateList;index as j">
          <h3 (click) = "selectTemplate($event,j)">
            <img src="assets/images/templates/{{cm.caste}}/{{cm.template}}.jpg" alt="{{cm.caste}}" width="250px" />
            <div class="temlate-selected" *ngIf="select === j">
              <button class="select-template" (click) = "goToForm()" >Selected</button>
              <button class="zoom" (click) = "getZoomImage($event,cm.caste,cm.template)"><i class="fa fa-search-plus fa-fw"></i></button>
              </div>
          </h3>
          <h4>{{cm.caste}}</h4>
          </div>
      </div>
      
    </div>
  </section> -->
  <section id="features" class="blue">
      <div class="content">
        <div class="slider center hindu">
            <div>
              <h3 (click) = "selectTemplate($event,1)">
                <img src="assets/images/templates/hindu/1.jpg" alt="hindu" />
                <div class="temlate-selected" *ngIf="select === '1'">
                  <button class="select-template" (click) = "goToForm()" >Selected</button>
                  <button class="zoom" (click) = "getZoomImage($event,'hindu','1')"><i class="fa fa-search-plus fa-fw"></i></button>
                </div>
              </h3>
              <h4>Hindu</h4>
            </div>
            <div>
                <h3 (click) = "selectTemplate($event,2)">
                  <img src="assets/images/templates/hindu/2.jpg" alt="hindu" />
                  <div class="temlate-selected" *ngIf="select === '2'">
                    <button class="select-template" (click) = "goToForm()" >Selected</button>
                    <button class="zoom" (click) = "getZoomImage($event,'hindu','2')"><i class="fa fa-search-plus fa-fw"></i></button>
                  </div>
                </h3>
                <h4>Hindu</h4>
              </div>
              <div>
                  <h3 (click) = "selectTemplate($event,3)">
                    <img src="assets/images/templates/hindu/3.jpg" alt="hindu" />
                    <div class="temlate-selected" *ngIf="select === '3'">
                      <button class="select-template" (click) = "goToForm()" >Selected</button>
                      <button class="zoom" (click) = "getZoomImage($event,'hindu','3')"><i class="fa fa-search-plus fa-fw"></i></button>
                    </div>
                  </h3>
                  <h4>Hindu</h4>
                </div>
                <div>
                    <h3 (click) = "selectTemplate($event,4)">
                      <img src="assets/images/templates/hindu/4.jpg" alt="hindu" />
                      <div class="temlate-selected" *ngIf="select === '4'">
                        <button class="select-template" (click) = "goToForm()" >Selected</button>
                        <button class="zoom" (click) = "getZoomImage($event,'hindu','4')"><i class="fa fa-search-plus fa-fw"></i></button>
                      </div>
                    </h3>
                    <h4>Hindu</h4>
                  </div>
                  <div>
                      <h3 (click) = "selectTemplate($event,5)">
                        <img src="assets/images/templates/hindu/5.jpg" alt="hindu" />
                        <div class="temlate-selected" *ngIf="select === '5'">
                          <button class="select-template" (click) = "goToForm()" >Selected</button>
                          <button class="zoom" (click) = "getZoomImage($event,'hindu','5')"><i class="fa fa-search-plus fa-fw"></i></button>
                        </div>
                      </h3>
                      <h4>Hindu</h4>
                    </div>
                    <div>
                        <h3 (click) = "selectTemplate($event,1)">
                          <img src="assets/images/templates/hindu/1.jpg" alt="hindu" />
                          <div class="temlate-selected" *ngIf="select === '1'">
                            <button class="select-template" (click) = "goToForm()" >Selected</button>
                            <button class="zoom" (click) = "getZoomImage($event,'hindu','1')"><i class="fa fa-search-plus fa-fw"></i></button>
                          </div>
                        </h3>
                        <h4>Hindu</h4>
                      </div>
                      <div>
                          <h3 (click) = "selectTemplate($event,2)">
                            <img src="assets/images/templates/hindu/2.jpg" alt="hindu" />
                            <div class="temlate-selected" *ngIf="select === '2'">
                              <button class="select-template" (click) = "goToForm()" >Selected</button>
                              <button class="zoom" (click) = "getZoomImage($event,'hindu','2')"><i class="fa fa-search-plus fa-fw"></i></button>
                            </div>
                          </h3>
                          <h4>Hindu</h4>
                        </div>
                        <div>
                            <h3 (click) = "selectTemplate($event,3)">
                              <img src="assets/images/templates/hindu/3.jpg" alt="hindu" />
                              <div class="temlate-selected" *ngIf="select === '3'">
                                <button class="select-template" (click) = "goToForm()" >Selected</button>
                                <button class="zoom" (click) = "getZoomImage($event,'hindu','3')"><i class="fa fa-search-plus fa-fw"></i></button>
                              </div>
                            </h3>
                            <h4>Hindu</h4>
                          </div>
                          <div>
                              <h3 (click) = "selectTemplate($event,4)">
                                <img src="assets/images/templates/hindu/4.jpg" alt="hindu" />
                                <div class="temlate-selected" *ngIf="select === '4'">
                                  <button class="select-template" (click) = "goToForm()" >Selected</button>
                                  <button class="zoom" (click) = "getZoomImage($event,'hindu','4')"><i class="fa fa-search-plus fa-fw"></i></button>
                                </div>
                              </h3>
                              <h4>Hindu</h4>
                            </div>
                            <div>
                                <h3 (click) = "selectTemplate($event,5)">
                                  <img src="assets/images/templates/hindu/5.jpg" alt="hindu" />
                                  <div class="temlate-selected" *ngIf="select === '5'">
                                    <button class="select-template" (click) = "goToForm()" >Selected</button>
                                    <button class="zoom" (click) = "getZoomImage($event,'hindu','5')"><i class="fa fa-search-plus fa-fw"></i></button>
                                  </div>
                                </h3>
                                <h4>Hindu</h4>
                              </div>
        </div>
        
      </div>
    </section>
    