/* .black_shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9;
    left: 0;
    top: 0;
    opacity: 0.8;
<<<<<<< HEAD
} */
=======
} */

>>>>>>> b4b63071ea9c450b92be681855e4507d525daac5
