<div class="title_container">
   
  <!--<div class="heading-upper">Started on 25 Dec, 2017</div>-->
  <div class="heading">Party Celebration</div>
  <div class="heading_under">Online solution to find your biodata</div>
  <div class="title_date"><span class="swirl_left"><span class="swirl_right">
    <button class="btn-click" (click) = "onSubmit()" >Create My Biodata Now</button>
  </span></span></div>
  
  
</div>

<div class="slider_container">
     <app-slider></app-slider>
</div>

<div id="thewedding" class="cta-1">
   <div class="container">
       <div id="id1" class="row wpb_row pix-row-overlay">
           <div class="wpb_column vc_column_container vc_col-sm-12" style="display: flex; flex: 1; width: 100%;" >
               <div class="vc_column-inner " style="display: flex; flex: 1; width: 100%;">
                   <div class="wpb_wrapper" style="display: flex; flex: 1; width: 100%; flex-direction: column;">
                       <h2 style="font-size: 40px;color:#232c30;text-align: center;margin-bottom: 35px;"
                           class="vc_custom_heading thin vc_custom_1487789525383">Three Simple Steps to Create Biodata</h2>
                       <div class="stats row-counters pix-easy-chart">
                           <div class="b-info-columns-holder b-steps-list">
                               <div class="row equal futurico_steps">
                                   <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                        data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.1s"
                                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeIn;">
                                       <div class="info-column-icon ">
                                           <i class="fa fa-search"></i>
                                           <span class="step-number"> 1 </span>
                                       </div>
                                       <h6 class="info-column-title">
                                           Select </h6>
                                       <div class="info-column-text">
                                           <p>Choose your biodata template </p>
                                       </div>
                                   </div>
                                   <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                        data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s"
                                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeIn;">
                                       <div class="info-column-icon ">
                                           <i class="fa fa-filter"></i>
                                           <span class="step-number"> 2 </span>
                                       </div>
                                       <h6 class="info-column-title">
                                           Modify </h6>
                                       <div class="info-column-text">
                                           <p>Fill your biodata information</p>
                                       </div>
                                   </div>
                                   <div class="b-info-column nc col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                        data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.7s"
                                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeIn;">
                                       <div class="info-column-icon">
                                           <i class="fa fa-download"></i>
                                           <span class="step-number">3 </span>
                                       </div>
                                       <h6 class="info-column-title">
                                           Download </h6>
                                       <div class="info-column-text">
                                           <p>Congrats! Get your biodata</p>
                                       </div>
                                   </div>
                               </div>
                           </div>

                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

<!--<div class="countdown_container">
<h2 class="centered_title">Three Simple Steps to Create Biodata</h2>
<div id="defaultCountdown1" class="hasCountdown">
   <span class="countdown_row countdown_show4">
       <span class="countdown_section">
           <span class="icon"><i class="fa fa-search" aria-hidden="true"></i></span><br>
           <span class="countdown_amount">Select</span><br>
           Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor
       </span>
       <span class="countdown_section">
           <span class="icon"><i class="fa fa-filter" aria-hidden="true"></i></span><br>
           <span class="countdown_amount">Modify</span><br>
           Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor
       </span>
       <span class="countdown_section">
           <span class="icon"><i class="fa fa-download" aria-hidden="true"></i></span><br>
           <span class="countdown_amount">Download</span><br>
           Phasellus sed elementum nulla. Integer eleifend lobortis felis in auctor 
       </span>
   </span>
</div>
</div>-->

<div class="about_content">
<div class="about_topsign">&amp;</div>
<div class="full_width_centered">
        <div class="left12_first">
            <span class="names_titles">THE BRIDE</span>
            <h2>BIODATA</h2>
                 <div class="about_pic_container">
                 <span class="about_picframe"></span>
                 <div class="about_social">
                 <a href="#"><img src="assets/images/social/twitter.png" alt="" title="" /></a>
                 <a href="#"><img src="assets/images/social/facebook.png" alt="" title="" /></a>
                 <a href="#"><img src="assets/images/social/pinterest.png" alt="" title="" /></a>
                 </div>
                 <div class="about_pic"><img src="assets/images/image12.jpg" alt="" title="" /></div>
                 </div>
             <a class="thumb_read_more" (click) = "onSubmit()">Create your Biodata</a>
           <!-- <p class="love_para">Love is friendship that has caught fire. It is quiet understanding, mutual confidence, <a href="#">sharing and forgiving</a>. It is loyalty through good and bad times. It settles for less than perfection and <strong>makes allowances</strong> for human weaknesses "<a href="#">LOVE QUOTE</a>":</p>-->
           <p style="text-align:center;"><span class="love_quote">Sometimes the heart sees what is invisible to the eye.</span>
            </p>
        </div>
        <div class="left12_last">
            <span class="names_titles">THE GROOM</span>
            <h2>BIODATA</h2>
                 <div class="about_pic_container">
                 <span class="about_picframe"></span>
                 <div class="about_social">
                 <a href="#"><img src="assets/images/social/twitter.png" alt="" title="" /></a>
                 <a href="#"><img src="assets/images/social/facebook.png" alt="" title="" /></a>
                 <a href="#"><img src="assets/images/social/pinterest.png" alt="" title="" /></a>
                 </div>
                 <div class="about_pic"><img src="assets/images/image12_2.jpg" alt="" title="" /></div>
                 </div>
             <a class="thumb_read_more" (click) = "onSubmit()">Create your Biodata</a>
            <!--<p class="love_para">I believe that imagination is stronger than knowledge than history. That dreams are more powerful. That hope always triumphs over experience. That laughter is the only cure for grief. And I believe that love is stronger than death "<a href="#">LOVE QUOTE</a>":</p>-->
            <p style="text-align:center;"><span class="love_quote">Sometimes the heart sees what is invisible to the eye</span></p>
        </div>

   <div class="clear"></div>
 </div>  <!--end of full width-->
</div> <!--end of about content-->   


<!--Mentor START-->
<div id="mentor" class="section-padding">
   <div class="carousel-background">
       <div class="carousel-background-black1">
           <div class="container">
               <div class="row choosetemplates-section">
                   <div class="page-title text-center uppercase">
                       <h1>Our Bridesmaids and groomsmen's</h1>
                       <span class="names_titles">Best Man & Maid of Honor</span>
                   </div>

                   <div style="padding: 70px 0;">    
                       <div >
                           <div class="col-md-3 template-section" (click) = "setCommunity($event,'hindu')" >
                               <div class="team-info">
                                   <div class="img-sec">
                                       <img src="assets/images/templates/hindu/1.jpg" class="img-responsive">
                                       <h3 class="comm-title"> HINDU </h3>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-3 template-section" (click) = "setCommunity($event,'christian')">
                                   <div class="team-info">
                                       <div class="img-sec">
                                           <img src="assets/images/templates/christian/2.jpg" class="img-responsive">
                                           <h3 class="comm-title"> CHRISTIAN </h3>
                                       </div>
                                   </div>
                           </div>
                           <div class="col-md-3 template-section" (click) = "setCommunity($event,'sikh')">
                                   <div class="team-info">
                                       <div class="img-sec">
                                           <img src="assets/images/templates/sikh/1.jpg" class="img-responsive">
                                           <h3 class="comm-title"> SIKH </h3>
                                       </div>
                                   </div>
                           </div>
                           <div class="col-md-3 template-section" (click) = "setCommunity($event,'muslim')">
                                   <div class="team-info">
                                       <div class="img-sec">
                                           <img src="assets/images/templates/muslim/1.jpg" class="img-responsive">
                                           <h3 class="comm-title"> MUSLIM </h3>
                                       </div>
                                   </div>
                           </div>

                       </div>

                   </div>
                   <div class="view-all">
                       <a class="uppercase btn btn-block view-all-btn" (click) = "onSubmit()" >View All BrideMaids and Groomsmen's</a>
                   </div>
               </div>
           </div>
       </div>
   </div>

</div>
<!--Mentor END-->

<div class="full_width_centered">
<div class="latest_posts">
     <h2>OUR BLOG</h2>

     <div class="left13" *ngFor="let blogdata of data">
       <div class="latest_post">
         <div class="post_info">
            <span class="post_date">{{blogdata.date | date: 'medium'}}</span>
            <h3><a routerLink="/blog/{{blogdata.id}}"> {{blogdata.title.rendered}}</a></h3>
            <a routerLink="/blog/{{blogdata.id}}" class="post_read_more">READ MORE</a>
         </div> 
         <img src="assets/images/post_thumb1.jpg" alt="" title="" />
       </div>
     </div>

    <div class="clear"></div>
     <a routerLink ="/blog" class="view_all">VIEW ALL POSTS</a>
     <div class="clear"></div>
</div>
</div>


<div class="home_bottom">
<div class="full_width_centered">
     <div class="left13"> 
     <div class="bottom_icon"><img src="assets/images/icon_music.png" alt="" title="" /></div>
     <h2>BACHELOR PARTY</h2>
     <span class="subtitle">BRING YOUR DANCING SHOES</span>
     <p>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
      <!-- <a href="page.html" class="post_read_more">READ MORE</a>-->
     </div>
     <div class="left13">
     <div class="bottom_icon"><img src="assets/images/icon_location.png" alt="" title="" /></div>
     <h2>WEDDING LOCATION</h2>
     <span class="subtitle">VENICE, ITALY - HOTEL ADAM</span>
     <p>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
         <!-- <a href="page.html" class="post_read_more">READ MORE</a>-->
     </div>
     <div class="left13_last">
     <div class="bottom_icon"><img src="assets/images/icon_gifts.png" alt="" title="" /></div>
     <h2>GIFT REGISTRY</h2>
     <span class="subtitle">GIVEN FREELY AND OUT OF PURE LOVE</span>
     <p>doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
     <!--<a href="page.html" class="post_read_more">READ MORE</a>-->
     </div>
     
     <div class="clear"></div>
</div>
</div>

<!--CART START-->
<div class="section-padding">
   <div class="container">
       <div class="row">
           <div class="page-title text-center">
               <div class="horse-car hidden-sm hidden-xs">
                   <img class="car" src="./assets/images/carriage.png" alt="images">
                   <img class="wheel-one round" src="./assets/images/wheel-front.png" alt="images">
                   <img class="wheel-two round" src="./assets/images/wheel-rear.png" alt="images">
               </div>
           </div>
       </div>
   </div>
</div>
<!--CART END-->
<app-news-letter></app-news-letter>
     

