<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<table class="user-info">
    <tr>
        <td>
                <strong>Name</strong> {{userInfo.name}}
        </td>
        <td>
                <strong>Email</strong> {{userInfo.email}}
        </td>
        <td>
                <strong>mobile</strong> {{userInfo.mobile}}
        </td>
        <td>
                <strong>User From</strong> {{userInfo.date_added}} 
        </td>
    </tr>

</table>




<p>BioData List</p>
<!-- <pre>{{ data | json }}</pre> -->
<div class="biodata">
<table align = "center">
    <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Selected Template</th>
        <th>Community</th>
        <th>Created Date</th>
        <th>Action</th>
    </tr>
    <!-- <tr *ngIf = "data.biodata_list === undefined">
            <td colspan="6">Loading...........!!</td>
        </tr> -->
    <tr *ngIf = "data.biodata_list.length == 0">
            <td colspan="6">No record Found!!</td>
        </tr>
    <tr *ngFor = "let list of data.biodata_list">
            <td>{{ list.id }}</td>
            <td>{{ getTitle(list.data).name }}</td>
            <td>Hindu : 2 </td>
            <td>Hindu</td>
            <td>{{ list.added_date }}</td>
            <td><a>Edit</a>&nbsp;&nbsp;&nbsp;<a>Delete</a></td>
        </tr>
</table>
</div>
