<p>
  select-template-dialog works!
</p>
<div class="your-class">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div>
  <div class="l-footer__btn">

      <div class="btn btn-md btn-blue prevSectionButton">
        <i class="eo eo-left-arrow"></i>
        <span>Prev</span>
      </div>
    
      <div class="btn btn-md btn-blue nextSectionButton" (click) = "goToForm()">
        <span>Next</span>
        <i class="eo eo-right-arrow"></i>
      </div>


    
    </div>