<p>
  select-template-dialog works!
</p>
  <!-- You can now use your library component in app.component.html -->
  <div class="center" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
    <div><h3>1</h3></div>
    <div><h3>2</h3></div>
    <div><h3>3</h3></div>
    <div><h3>4</h3></div>
    <div><h3>5</h3></div>
    <div><h3>6</h3></div>
  </div>

  <div class="l-footer__btn">

      <div class="btn btn-md btn-blue prevSectionButton">
        <i class="eo eo-left-arrow"></i>
        <span>Prev</span>
      </div>
    
      <div class="btn btn-md btn-blue nextSectionButton" (click) = "goToForm()">
        <span>Next</span>
        <i class="eo eo-right-arrow"></i>
      </div>


    
    </div>