<div class="l-content l-col" style="width: 1049px;position: relative;left: 300px;">
          <div class="section-content__wrapp">
            <div class="panel panel--white-line">
              <div class="panel__heading"> Company </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Line 1 (e.g. position)</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Administrative Assistant">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Administrative Assistant</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Line 2 (e.g. company, department)</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Example company 1">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Example company 1</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
  