<div class="l-content l-col" style="width: 1049px;position: relative;left: 300px;">
          <div class="section-content__wrapp">
            <div class="panel panel--white-line">
              <div class="panel__heading"> Personel Details: </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Name</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Name">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Name</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Date of Birth</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="DOB">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">DOB</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Birth Place</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="DOB">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Birth Place</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Birth Time</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Birth Time">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Birth Time</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="panel panel--white-line">
              <div class="panel__heading"> Physical Attributes </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Height</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Height">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Height</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Weight</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Weight">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Weight</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Complexion</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Complexion">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Complexion</div>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel--white-line">
              <div class="panel__heading"> Qualification </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Education</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Education">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Education</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Profession</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Profession">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Profession</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Currently working</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Currently working">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Currently working</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Hobbies</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Hobbies">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Hobbies</div>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel--white-line">
              <div class="panel__heading"> Religion: </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Cast</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Cast">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Cast</div>
                        </div>
                      </div>
                     
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                          <label>Sub Cast</label>
                          <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Gotra">
                            <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Sub Cast</div>
                          </div>
                        </div>
                        <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                            <label>Gotra</label>
                            <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Gotra">
                              <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Gotra</div>
                            </div>
                          </div>
                        <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                            <label>Maththab</label>
                            <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Gotra">
                              <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Maththab</div>
                            </div>
                          </div>
                          <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                              <label>Speak Urdu</label>
                              <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Gotra">
                                <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Speak Urdu</div>
                              </div>
                            </div>
                            <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                                <label>Namaz</label>
                                <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Gotra">
                                  <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Namaz</div>
                                </div>
                              </div>
                              <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                                  <label>Fasting</label>
                                  <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Gotra">
                                    <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Fasting</div>
                                  </div>
                                </div>
                                <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                                    <label>Hijab after marriage</label>
                                    <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Gotra">
                                      <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Hijab after marriage</div>
                                    </div>
                                </div>
                                <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                                      <label>Quran</label>
                                      <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Quran">
                                        <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Quran</div>
                                      </div>
                                </div>  
                                    
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel--white-line">
              <div class="panel__heading"> Occupation: </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Occupation</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Occupation">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Occupation</div>
                        </div>
                      </div>
                                                    
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="panel panel--white-line">
              <div class="panel__heading"> Family Details: </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Father</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Father">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Father</div>
                        </div>
                      </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Mother</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Mother">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Mother</div>
                        </div>
                      </div>

                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Brother</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Brother">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Brother</div>
                        </div>
                      </div>

                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Sister</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="2" data-pt="" data-p="21189831" data-id="34663061" data-text="Sister">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="15" medium-editor-index="aae39e16-9a52-75c5-7693-cc49a7854495" data-placeholder="">Sister</div>
                        </div>
                      </div>

                                    
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel--white-line">
              <div class="panel__heading"> Contact Details: </div>
              <div class="panel__body">
                <div class="form form--labeled form--lowercase form--big-padding">
                  <div class="form__row">
                    <div class="l-row">
                        <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                            <label>Phone No.</label>
                            <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="phone">
                              <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Phone No.</div>
                            </div>
                          </div>
                      <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                        <label>Email</label>
                        <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Email">
                          <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Email</div>
                        </div>
                      </div>

                                                    
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel--white-line">
                <div class="panel__heading"> Beliefs: </div>
                <div class="panel__body">
                  <div class="form form--labeled form--lowercase form--big-padding">
                    <div class="form__row">
                      <div class="l-row">
                          <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                              <label>Name of The Church</label>
                              <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Name_Church">
                                <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Name of The Church</div>
                              </div>
                            </div>
                        <div class="l-col-xxxl-4 l-col-xxl-3 l-col-sm-6 l-col-xs-12">
                          <label>Caste Preference</label>
                          <div class="textareaMediumEditor" data-classname="form__input--textarea input-me" data-t="e" data-i="1" data-pt="" data-p="21189831" data-id="34663061" data-text="Caste_Preference">
                            <div class="form__input form__input--md form__input--textarea input-me medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="14" medium-editor-index="d83a596f-2a21-5284-6cab-e587558e2ac6" data-placeholder="">Caste Preference</div>
                          </div>
                        </div>
  
                                                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>


      </div>
  </div>
  