.panel,
.c-panel-tip {
   /* margin-bottom: 15px;*/
    counter-increment: panel;
    border-radius: 4px;
    overflow: hidden
}

.l-col.l-content, .l-col.l-sidebar {
    min-height: 0px;
}   
.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 5px;
  }